<div class="container">
<div class="row">
  <div class="col-md-12">
    <%= link_to :action => 'index' do %>
      <div class="btn button-page-menu"><span class="glyphicon glyphicon-arrow-left"> </span> Tornar a la llista de projectes</div>
    <% end %>
    <h2 class="page-title">Editar projecte</h2>
  </div>
</div>
<%= form_for(:xproject, :url => {:action => 'update', :id => @xproject.id}) do |f| %>
<%= f.error_messages %>
<%= f.hidden_field :expert_id, { :value => current_expert.id } %>
<div class="row">
  <div class="col-md-12">
    <ul class="nav nav-tabs">
      <li class="active"><a href="#immoble" data-toggle="tab">Dades immoble</a></li>
      <li><a href="#propietari" data-toggle="tab">Dades propietari/a</a></li>
      <li><a href="#envolupant" data-toggle="tab">Envolupant tèrmica</a></li>
      <li><a href="#instalacions" data-toggle="tab">Instal·lacions</a></li>
      <li><a href="#consums" data-toggle="tab">Consums</a></li>
    </ul>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <div class="tab-content">
      <div class="tab-pane active" id="immoble">
        <div class="content-in-tabs">
          <div class="row">
            <div class="col-md-6">
              <div class="form-group"><%= f.label :name, "Nom de l'immoble" %><br />
              <span class="text-tips">Per exemple "Casa a Sant Celoni" o "Pis de Balmes, n.220"</span><br />
              <%= f.text_field :name, :autofocus => true, :class => 'form-control' %></div>
              
              <div class="form-group"><%= f.label :project_type, "Tipus de projecte" %><br />
              <%= f.select(:project_type, [['', 0],['Habitatge dins d\'un edifici', 1], ['Habitatge unifamiliar', 2], ['Edifici d\'habitatges', 3]], {}, {:class => 'form-control'}) %>
              </div>

              <div class="form-group"><%= f.label :building_address, "Adreça" %><br />
              <%= f.text_field :building_address, :class => 'form-control' %></div>
              
            
              <div class="form-group"><%= f.label :building_town, "Municipi" %><br />
              <%= f.select(:building_town, [['Abella de la Conca'], ['Abrera'], ['Àger'], ['Agramunt'], ['Aguilar de Segarra'], ['Agullana'], ['Aiguafreda'], ['Aiguamúrcia'], ['Aiguaviva'], ['Aitona'], ['Alamús, els'], ['Alàs i Cerc'], ['Albagés, l\''], ['Albanyà'], ['Albatàrrec'], ['Albesa'], ['Albi, l\''], ['Albinyana'], ['Albiol, l\''], ['Albons'], ['Alcanar'], ['Alcanó'], ['Alcarràs'], ['Alcoletge'], ['Alcover'], ['Aldea, l\''], ['Aldover'], ['Aleixar, l\''], ['Alella'], ['Alfara de Carles'], ['Alfarràs'], ['Alfés'], ['Alforja'], ['Algerri'], ['Alguaire'], ['Alins'], ['Alió'], ['Almacelles'], ['Almatret'], ['Almenar'], ['Almoster'], ['Alòs de Balaguer'], ['Alp'], ['Alpens'], ['Alpicat'], ['Alt Àneu'], ['Altafulla'], ['Amer'], ['Ametlla de Mar, l\''], ['Ametlla del Vallès, l\''], ['Ampolla, l\''], ['Amposta'], ['Anglès'], ['Anglesola'], ['Arbeca'], ['Arboç, l\''], ['Arbolí'], ['Arbúcies'], ['Arenys de Mar'], ['Arenys de Munt'], ['Argelaguer'], ['Argençola'], ['Argentera, l\''], ['Argentona'], ['Armentera, l\''], ['Arnes'], ['Arres'], ['Arsèguel'], ['Artés'], ['Artesa de Lleida'], ['Artesa de Segre'], ['Ascó'], ['Aspa'], ['Avellanes i Santa Linya, les'], ['Avià'], ['Avinyó'], ['Avinyonet de Puigventós'], ['Avinyonet del Penedès'], ['Badalona'], ['Badia del Vallès'], ['Bagà'], ['Baix Pallars'], ['Balaguer'], ['Balenyà'], ['Balsareny'], ['Banyeres del Penedès'], ['Banyoles'], ['Barbens'], ['Barberà de la Conca'], ['Barberà del Vallès'], ['Barcelona'], ['Baronia de Rialb, la'], ['Bàscara'], ['Bassella'], ['Batea'], ['Bausen'], ['Begues'], ['Begur'], ['Belianes'], ['Bell-lloc d\'Urgell'], ['Bellaguarda'], ['Bellcaire d\'Empordà'], ['Bellcaire d\'Urgell'], ['Bellmunt d\'Urgell'], ['Bellmunt del Priorat'], ['Bellprat'], ['Bellpuig'], ['Bellvei'], ['Bellver de Cerdanya'], ['Bellvís'], ['Benavent de Segrià'], ['Benifallet'], ['Benissanet'], ['Berga'], ['Besalú'], ['Bescanó'], ['Beuda'], ['Bigues i Riells'], ['Biosca'], ['Bisbal d\'Empordà, la'], ['Bisbal de Falset, la'], ['Bisbal del Penedès, la'], ['Biure'], ['Blancafort'], ['Blanes'], ['Boadella i les Escaules'], ['Bolvir'], ['Bonastre'], ['Bòrdes, Es'], ['Bordils'], ['Borges Blanques, les'], ['Borges del Camp, les'], ['Borrassà'], ['Borredà'], ['Bossòst'], ['Bot'], ['Botarell'], ['Bovera'], ['Bràfim'], ['Breda'], ['Bruc, el'], ['Brull, el'], ['Brunyola'], ['Cabacés'], ['Cabanabona'], ['Cabanelles'], ['Cabanes'], ['Cabanyes, les'], ['Cabó'], ['Cabra del Camp'], ['Cabrera d\'Anoia'], ['Cabrera de Mar'], ['Cabrils'], ['Cadaqués'], ['Calaf'], ['Calafell'], ['Calders'], ['Caldes d\'Estrac'], ['Caldes de Malavella'], ['Caldes de Montbui'], ['Calella'], ['Calldetenes'], ['Callús'], ['Calonge'], ['Calonge de Segarra'], ['Camarasa'], ['Camarles'], ['Cambrils'], ['Camós'], ['Campdevànol'], ['Campelles'], ['Campins'], ['Campllong'], ['Camprodon'], ['Canejan'], ['Canet d\'Adri'], ['Canet de Mar'], ['Canonja, la'], ['Canovelles'], ['Cànoves i Samalús'], ['Cantallops'], ['Canyelles'], ['Capafonts'], ['Capçanes'], ['Capellades'], ['Capmany'], ['Capolat'], ['Cardedeu'], ['Cardona'], ['Carme'], ['Caseres'], ['Cassà de la Selva'], ['Casserres'], ['Castell de l\'Areny'], ['Castell de Mur'], ['Castell-Platja d\'Aro'], ['Castellar de la Ribera'], ['Castellar de n\'Hug'], ['Castellar del Riu'], ['Castellar del Vallès'], ['Castellbell i el Vilar'], ['Castellbisbal'], ['Castellcir'], ['Castelldans'], ['Castelldefels'], ['Castellet i la Gornal'], ['Castellfollit de la Roca'], ['Castellfollit de Riubregós'], ['Castellfollit del Boix'], ['Castellgalí'], ['Castellnou de Bages'], ['Castellnou de Seana'], ['Castelló d\'Empúries'], ['Castelló de Farfanya'], ['Castellolí'], ['Castellserà'], ['Castellterçol'], ['Castellvell del Camp'], ['Castellví de la Marca'], ['Castellví de Rosanes'], ['Catllar, el'], ['Cava'], ['Cellera de Ter, la'], ['Celrà'], ['Centelles'], ['Cercs'], ['Cerdanyola del Vallès'], ['Cervelló'], ['Cervera'], ['Cervià de les Garrigues'], ['Cervià de Ter'], ['Cistella'], ['Ciutadilla'], ['Clariana de Cardener'], ['Cogul, el'], ['Colera'], ['Coll de Nargó'], ['Collbató'], ['Colldejou'], ['Collsuspina'], ['Colomers'], ['Coma i la Pedra, la'], ['Conca de Dalt'], ['Conesa'], ['Constantí'], ['Copons'], ['Corbera d\'Ebre'], ['Corbera de Llobregat'], ['Corbins'], ['Corçà'], ['Cornellà de Llobregat'], ['Cornellà del Terri'], ['Cornudella de Montsant'], ['Creixell'], ['Crespià'], ['Cruïlles, Monells i Sant Sadurní de l\'Heura'], ['Cubelles'], ['Cubells'], ['Cunit'], ['Darnius'], ['Das'], ['Deltebre'], ['Dosrius'], ['Duesaigües'], ['Escala, l\''], ['Esparreguera'], ['Espinelves'], ['Espluga Calba, l\''], ['Espluga de Francolí, l\''], ['Esplugues de Llobregat'], ['Espolla'], ['Esponellà'], ['Espot'], ['Espunyola, l\''], ['Estamariu'], ['Estany, l\''], ['Estaràs'], ['Esterri d\'Àneu'], ['Esterri de Cardós'], ['Falset'], ['Far d\'Empordà, el'], ['Farrera'], ['Fatarella, la'], ['Febró, la'], ['Figaró-Montmany'], ['Fígols'], ['Fígols i Alinyà'], ['Figuera, la'], ['Figueres'], ['Figuerola del Camp'], ['Flaçà'], ['Flix'], ['Floresta, la'], ['Fogars de la Selva'], ['Fogars de Montclús'], ['Foixà'], ['Folgueroles'], ['Fondarella'], ['Fonollosa'], ['Font-rubí'], ['Fontanals de Cerdanya'], ['Fontanilles'], ['Fontcoberta'], ['Foradada'], ['Forallac'], ['Forès'], ['Fornells de la Selva'], ['Fortià'], ['Franqueses del Vallès, les'], ['Freginals'], ['Fuliola, la'], ['Fulleda'], ['Gaià'], ['Galera, la'], ['Gallifa'], ['Gandesa'], ['Garcia'], ['Garidells, els'], ['Garriga, la'], ['Garrigàs'], ['Garrigoles'], ['Garriguella'], ['Gavà'], ['Gavet de la Conca'], ['Gelida'], ['Ger'], ['Gimenells i el Pla de la Font'], ['Ginestar'], ['Girona'], ['Gironella'], ['Gisclareny'], ['Godall'], ['Golmés'], ['Gombrèn'], ['Gósol'], ['Granada, la'], ['Granadella, la'], ['Granera'], ['Granja d\'Escarp, la'], ['Granollers'], ['Granyanella'], ['Granyena de les Garrigues'], ['Granyena de Segarra'], ['Gratallops'], ['Gualba'], ['Gualta'], ['Guardiola de Berguedà'], ['Guiamets, els'], ['Guils de Cerdanya'], ['Guimerà'], ['Guingueta d\'Àneu, la'], ['Guissona'], ['Guixers'], ['Gurb'], ['Horta de Sant Joan'], ['Hospitalet de Llobregat, l\''], ['Hostalets de Pierola, els'], ['Hostalric'], ['Igualada'], ['Isona i Conca Dellà'], ['Isòvol'], ['Ivars d\'Urgell'], ['Ivars de Noguera'], ['Ivorra'], ['Jafre'], ['Jonquera, la'], ['Jorba'], ['Josa i Tuixén'], ['Juià'], ['Juncosa'], ['Juneda'], ['Les'], ['Linyola'], ['Llacuna, la'], ['Lladó'], ['Lladorre'], ['Lladurs'], ['Llagosta, la'], ['Llagostera'], ['Llambilles'], ['Llanars'], ['Llançà'], ['Llardecans'], ['Llavorsí'], ['Lleida'], ['Llers'], ['Lles de Cerdanya'], ['Lliçà d\'Amunt'], ['Lliçà de Vall'], ['Llimiana'], ['Llinars del Vallès'], ['Llívia'], ['Lloar, el'], ['Llobera'], ['Llorac'], ['Llorenç del Penedès'], ['Lloret de Mar'], ['Llosses, les'], ['Lluçà'], ['Maçanet de Cabrenys'], ['Maçanet de la Selva'], ['Madremanya'], ['Maià de Montcal'], ['Maials'], ['Maldà'], ['Malgrat de Mar'], ['Malla'], ['Manlleu'], ['Manresa'], ['Marçà'], ['Margalef'], ['Marganell'], ['Martorell'], ['Martorelles'], ['Mas de Barberans'], ['Masarac'], ['Masdenverge'], ['Masies de Roda, les'], ['Masies de Voltregà, les'], ['Masllorenç'], ['Masnou, el'], ['Masó, la'], ['Maspujols'], ['Masquefa'], ['Masroig, el'], ['Massalcoreig'], ['Massanes'], ['Massoteres'], ['Matadepera'], ['Mataró'], ['Mediona'], ['Menàrguens'], ['Meranges'], ['Mieres'], ['Milà, el'], ['Miralcamp'], ['Miravet'], ['Moià'], ['Molar, el'], ['Molins de Rei'], ['Mollerussa'], ['Mollet de Peralada'], ['Mollet del Vallès'], ['Molló'], ['Molsosa, la'], ['Monistrol de Calders'], ['Monistrol de Montserrat'], ['Mont-ral'], ['Mont-ras'], ['Mont-roig del Camp'], ['Montagut i Oix'], ['Montblanc'], ['Montbrió del Camp'], ['Montcada i Reixac'], ['Montclar'], ['Montellà i Martinet'], ['Montesquiu'], ['Montferrer i Castellbò'], ['Montferri'], ['Montgai'], ['Montgat'], ['Montmajor'], ['Montmaneu'], ['Montmell, el'], ['Montmeló'], ['Montoliu de Lleida'], ['Montoliu de Segarra'], ['Montornès de Segarra'], ['Montornès del Vallès'], ['Montseny'], ['Móra d\'Ebre'], ['Móra la Nova'], ['Morell, el'], ['Morera de Montsant, la'], ['Muntanyola'], ['Mura'], ['Nalec'], ['Naut Aran'], ['Navarcles'], ['Navàs'], ['Navata'], ['Navès'], ['Nou de Berguedà, la'], ['Nou de Gaià, la'], ['Nulles'], ['Odèn'], ['Òdena'], ['Ogassa'], ['Olèrdola'], ['Olesa de Bonesvalls'], ['Olesa de Montserrat'], ['Oliana'], ['Oliola'], ['Olius'], ['Olivella'], ['Olost'], ['Olot'], ['Oluges, les'], ['Olvan'], ['Omellons, els'], ['Omells de na Gaia, els'], ['Ordis'], ['Organyà'], ['Orís'], ['Oristà'], ['Orpí'], ['Òrrius'], ['Os de Balaguer'], ['Osor'], ['Ossó de Sió'], ['Pacs del Penedès'], ['Palafolls'], ['Palafrugell'], ['Palamós'], ['Palau d\'Anglesola, el'], ['Palau de Santa Eulàlia'], ['Palau-sator'], ['Palau-saverdera'], ['Palau-solità i Plegamans'], ['Pallaresos, els'], ['Pallejà'], ['Palma d\'Ebre, la'], ['Palma de Cervelló, la'], ['Palol de Revardit'], ['Pals'], ['Papiol, el'], ['Pardines'], ['Parets del Vallès'], ['Parlavà'], ['Passanant i Belltall'], ['Pau'], ['Paüls'], ['Pedret i Marzà'], ['Penelles'], ['Pera, la'], ['Perafita'], ['Perafort'], ['Peralada'], ['Peramola'], ['Perelló, el'], ['Piera'], ['Piles, les'], ['Pineda de Mar'], ['Pinell de Brai, el'], ['Pinell de Solsonès'], ['Pinós'], ['Pira'], ['Pla de Santa Maria, el'], ['Pla del Penedès, el'], ['Planes d\'Hostoles, les'], ['Planoles'], ['Plans de Sió, els'], ['Poal, el'], ['Pobla de Cérvoles, la'], ['Pobla de Claramunt, la'], ['Pobla de Lillet, la'], ['Pobla de Mafumet, la'], ['Pobla de Massaluca, la'], ['Pobla de Montornès, la'], ['Pobla de Segur, la'], ['Poboleda'], ['Polinyà'], ['Pont d\'Armentera, el'], ['Pont de Bar, el'], ['Pont de Molins'], ['Pont de Suert, el'], ['Pont de Vilomara i Rocafort, el'], ['Pontils'], ['Pontons'], ['Pontós'], ['Ponts'], ['Porqueres'], ['Porrera'], ['Port de la Selva, el'], ['Portbou'], ['Portella, la'], ['Pradell de la Teixeta'], ['Prades'], ['Prat de Comte'], ['Prat de Llobregat, el'], ['Pratdip'], ['Prats de Lluçanès'], ['Prats de Rei, els'], ['Prats i Sansor'], ['Preixana'], ['Preixens'], ['Premià de Dalt'], ['Premià de Mar'], ['Preses, les'], ['Prullans'], ['Puig-reig'], ['Puigcerdà'], ['Puigdàlber'], ['Puiggròs'], ['Puigpelat'], ['Puigverd d\'Agramunt'], ['Puigverd de Lleida'], ['Pujalt'], ['Quar, la'], ['Quart'], ['Queralbs'], ['Querol'], ['Rabós'], ['Rajadell'], ['Rasquera'], ['Regencós'], ['Rellinars'], ['Renau'], ['Reus'], ['Rialp'], ['Riba-roja d\'Ebre'], ['Riba, la'], ['Ribera d\'Ondara'], ['Ribera d\'Urgellet'], ['Ribes de Freser'], ['Riells i Viabrea'], ['Riera de Gaià, la'], ['Riner'], ['Ripoll'], ['Ripollet'], ['Riu de Cerdanya'], ['Riudarenes'], ['Riudaura'], ['Riudecanyes'], ['Riudecols'], ['Riudellots de la Selva'], ['Riudoms'], ['Riumors'], ['Roca del Vallès, la'], ['Rocafort de Queralt'], ['Roda de Barà'], ['Roda de Ter'], ['Rodonyà'], ['Roquetes'], ['Roses'], ['Rosselló'], ['Rourell, el'], ['Rubí'], ['Rubió'], ['Rupià'], ['Rupit i Pruit'], ['Sabadell'], ['Sagàs'], ['Salàs de Pallars'], ['Saldes'], ['Sales de Llierca'], ['Sallent'], ['Salomó'], ['Salou'], ['Salt'], ['Sanaüja'], ['Sant Adrià de Besòs'], ['Sant Agustí de Lluçanès'], ['Sant Andreu de la Barca'], ['Sant Andreu de Llavaneres'], ['Sant Andreu Salou'], ['Sant Aniol de Finestres'], ['Sant Antoni de Vilamajor'], ['Sant Bartomeu del Grau'], ['Sant Boi de Llobregat'], ['Sant Boi de Lluçanès'], ['Sant Carles de la Ràpita'], ['Sant Cebrià de Vallalta'], ['Sant Celoni'], ['Sant Climent de Llobregat'], ['Sant Climent Sescebes'], ['Sant Cugat del Vallès'], ['Sant Cugat Sesgarrigues'], ['Sant Esteve de la Sarga'], ['Sant Esteve de Palautordera'], ['Sant Esteve Sesrovires'], ['Sant Feliu de Buixalleu'], ['Sant Feliu de Codines'], ['Sant Feliu de Guíxols'], ['Sant Feliu de Llobregat'], ['Sant Feliu de Pallerols'], ['Sant Feliu Sasserra'], ['Sant Ferriol'], ['Sant Fost de Campsentelles'], ['Sant Fruitós de Bages'], ['Sant Gregori'], ['Sant Guim de Freixenet'], ['Sant Guim de la Plana'], ['Sant Hilari Sacalm'], ['Sant Hipòlit de Voltregà'], ['Sant Iscle de Vallalta'], ['Sant Jaume d\'Enveja'], ['Sant Jaume de Frontanyà'], ['Sant Jaume de Llierca'], ['Sant Jaume dels Domenys'], ['Sant Joan de les Abadesses'], ['Sant Joan de Mollet'], ['Sant Joan de Vilatorrada'], ['Sant Joan Despí'], ['Sant Joan les Fonts'], ['Sant Jordi Desvalls'], ['Sant Julià de Cerdanyola'], ['Sant Julià de Ramis'], ['Sant Julià de Vilatorta'], ['Sant Julià del Llor i Bonmatí'], ['Sant Just Desvern'], ['Sant Llorenç d\'Hortons'], ['Sant Llorenç de la Muga'], ['Sant Llorenç de Morunys'], ['Sant Llorenç Savall'], ['Sant Martí d\'Albars'], ['Sant Martí de Centelles'], ['Sant Martí de Llémena'], ['Sant Martí de Riucorb'], ['Sant Martí de Tous'], ['Sant Martí Sarroca'], ['Sant Martí Sesgueioles'], ['Sant Martí Vell'], ['Sant Mateu de Bages'], ['Sant Miquel de Campmajor'], ['Sant Miquel de Fluvià'], ['Sant Mori'], ['Sant Pau de Segúries'], ['Sant Pere de Ribes'], ['Sant Pere de Riudebitlles'], ['Sant Pere de Torelló'], ['Sant Pere de Vilamajor'], ['Sant Pere Pescador'], ['Sant Pere Sallavinera'], ['Sant Pol de Mar'], ['Sant Quintí de Mediona'], ['Sant Quirze de Besora'], ['Sant Quirze del Vallès'], ['Sant Quirze Safaja'], ['Sant Ramon'], ['Sant Sadurní d\'Anoia'], ['Sant Sadurní d\'Osormort'], ['Sant Salvador de Guardiola'], ['Sant Vicenç de Castellet'], ['Sant Vicenç de Montalt'], ['Sant Vicenç de Torelló'], ['Sant Vicenç dels Horts'], ['Santa Bàrbara'], ['Santa Cecília de Voltregà'], ['Santa Coloma de Cervelló'], ['Santa Coloma de Farners'], ['Santa Coloma de Gramenet'], ['Santa Coloma de Queralt'], ['Santa Cristina d\'Aro'], ['Santa Eugènia de Berga'], ['Santa Eulàlia de Riuprimer'], ['Santa Eulàlia de Ronçana'], ['Santa Fe del Penedès'], ['Santa Llogaia d\'Àlguema'], ['Santa Margarida de Montbui'], ['Santa Margarida i els Monjos'], ['Santa Maria d\'Oló'], ['Santa Maria de Besora'], ['Santa Maria de Corcó'], ['Santa Maria de Martorelles'], ['Santa Maria de Merlès'], ['Santa Maria de Miralles'], ['Santa Maria de Palautordera'], ['Santa Oliva'], ['Santa Pau'], ['Santa Perpètua de Mogoda'], ['Santa Susanna'], ['Santpedor'], ['Sarral'], ['Sarrià de Ter'], ['Sarroca de Bellera'], ['Sarroca de Lleida'], ['Saus, Camallera i Llampaies'], ['Savallà del Comtat'], ['Secuita, la'], ['Selva de Mar, la'], ['Selva del Camp, la'], ['Senan'], ['Sénia, la'], ['Senterada'], ['Sentiu de Sió, la'], ['Sentmenat'], ['Serinyà'], ['Seròs'], ['Serra de Daró'], ['Setcases'], ['Seu d\'Urgell, la'], ['Seva'], ['Sidamon'], ['Sils'], ['Sitges'], ['Siurana'], ['Sobremunt'], ['Soleràs, el'], ['Solivella'], ['Solsona'], ['Sora'], ['Soriguera'], ['Sort'], ['Soses'], ['Subirats'], ['Sudanell'], ['Sunyer'], ['Súria'], ['Susqueda'], ['Tagamanent'], ['Talamanca'], ['Talarn'], ['Talavera'], ['Tallada d\'Empordà, la'], ['Taradell'], ['Tarragona'], ['Tàrrega'], ['Tarrés'], ['Tarroja de Segarra'], ['Tavèrnoles'], ['Tavertet'], ['Teià'], ['Térmens'], ['Terrades'], ['Terrassa'], ['Tiana'], ['Tírvia'], ['Tiurana'], ['Tivenys'], ['Tivissa'], ['Tona'], ['Torà'], ['Tordera'], ['Torelló'], ['Torms, els'], ['Tornabous'], ['Torre de Cabdella, la'], ['Torre de Claramunt, la'], ['Torre de Fontaubella, la'], ['Torre de l\'Espanyol, la'], ['Torre-serona'], ['Torrebesses'], ['Torredembarra'], ['Torrefarrera'], ['Torrefeta i Florejacs'], ['Torregrossa'], ['Torrelameu'], ['Torrelavit'], ['Torrelles de Foix'], ['Torrelles de Llobregat'], ['Torrent'], ['Torres de Segre'], ['Torroella de Fluvià'], ['Torroella de Montgrí'], ['Torroja del Priorat'], ['Tortellà'], ['Tortosa'], ['Toses'], ['Tossa de Mar'], ['Tremp'], ['Ullà'], ['Ullastrell'], ['Ullastret'], ['Ulldecona'], ['Ulldemolins'], ['Ultramort'], ['Urús'], ['Vacarisses'], ['Vajol, la'], ['Vall d\'en Bas, la'], ['Vall de Bianya, la'], ['Vall de Boí, la'], ['Vall de Cardós'], ['Vall-llobrega'], ['Vallbona d\'Anoia'], ['Vallbona de les Monges'], ['Vallcebre'], ['Vallclara'], ['Vallfogona de Balaguer'], ['Vallfogona de Ripollès'], ['Vallfogona de Riucorb'], ['Vallgorguina'], ['Vallirana'], ['Vallmoll'], ['Vallromanes'], ['Valls'], ['Valls d\'Aguilar, les'], ['Valls de Valira, les'], ['Vandellòs i l\'Hospitalet de l\'Infant'], ['Vansa i Fórnols, la'], ['Veciana'], ['Vendrell, el'], ['Ventalló'], ['Verdú'], ['Verges'], ['Vespella de Gaià'], ['Vic'], ['Vidrà'], ['Vidreres'], ['Vielha e Mijaran'], ['Vila-rodona'], ['Vila-sacra'], ['Vila-sana'], ['Vila-seca'], ['Vilabella'], ['Vilabertran'], ['Vilablareix'], ['Vilada'], ['Viladamat'], ['Viladasens'], ['Viladecans'], ['Viladecavalls'], ['Vilademuls'], ['Viladrau'], ['Vilafant'], ['Vilafranca del Penedès'], ['Vilagrassa'], ['Vilajuïga'], ['Vilalba dels Arcs'], ['Vilalba Sasserra'], ['Vilaller'], ['Vilallonga de Ter'], ['Vilallonga del Camp'], ['Vilamacolum'], ['Vilamalla'], ['Vilamaniscle'], ['Vilamòs'], ['Vilanant'], ['Vilanova d\'Escornalbou'], ['Vilanova de Bellpuig'], ['Vilanova de l\'Aguda'], ['Vilanova de la Barca'], ['Vilanova de Meià'], ['Vilanova de Prades'], ['Vilanova de Sau'], ['Vilanova de Segrià'], ['Vilanova del Camí'], ['Vilanova del Vallès'], ['Vilanova i la Geltrú'], ['Vilaplana'], ['Vilassar de Dalt'], ['Vilassar de Mar'], ['Vilaür'], ['Vilaverd'], ['Vilella Alta, la'], ['Vilella Baixa, la'], ['Vilobí d\'Onyar'], ['Vilobí del Penedès'], ['Vilopriu'], ['Vilosell, el'], ['Vimbodí i Poblet'], ['Vinaixa'], ['Vinebre'], ['Vinyols i els Arcs'], ['Viver i Serrateix'], ['Xerta']], {:selected => 'Barcelona'}, {:class => 'form-control'}) %></div>

              <div class="form-group"><%= f.label :building_zip_code, "Codi postal" %><br />
              <%= f.text_field :building_zip_code, :class => 'form-control' %></div>

            </div>
            <div class="col-md-6">
              <div class="form-group"><%= f.label :construction_period, "Període de construcció de l'edifici" %><br />
                <span class="text-tips">Si hi ha hagut una gran rehabilitació posar el període de la rehabilitació</span><br />
              <%= f.select(:construction_period, [['', 0], ['Abans de 1981', 1], ['Entre 1981 i 1987', 2], ['Entre 1988 i 2006', 3], ['Després del 2006', 4]], {}, {:class => 'form-control'}) %></div>

              <div class="form-group"><%= f.label :construction_year, "Any de construcció" %><br />
              <%= f.text_field :construction_year, :class => 'form-control' %></div>

              <div class="form-group"><%= f.label :area, "Superfície útil" %><br />
              <span class="text-tips">Valor en metres quadrats</span><br />
              <%= f.text_field :area, :class => 'form-control' %></div>

              <div class="form-group"><%= f.label :cadastre, "Referència cadastral" %><br />
              <%= f.text_field :cadastre, :class => 'form-control' %></div>
            </div>
          </div>
        </div>
      </div>

      <div class="tab-pane" id="propietari">
        <div class="content-in-tabs">
          <div class="row">
            <div class="col-md-6">
              <div class="form-group"><%= f.label :user_first_name, "Nom" %><br />
              <%= f.text_field :user_first_name, :class => 'form-control' %></div>

              <div class="form-group"><%= f.label :user_surname1, "Primer cognom" %><br />
              <%= f.text_field :user_surname1, :class => 'form-control' %></div>

              <div class="form-group"><%= f.label :user_surname2, "Segon cognom" %><br />
              <%= f.text_field :user_surname2, :class => 'form-control' %></div>

              <div class="form-group"><%= f.label :user_id_document_type, "Tipus de document d'identitat" %><br />
              <%= f.select(:user_id_document_type, [['DNI', 0], ['NIE', 1], ['Passaport', 2], ['NIF', 3]], {}, {:class => 'form-control'}) %></div>

              <div class="form-group"><%= f.label :user_id_document_number, "Número de document d'identitat" %><br />
              <%= f.text_field :user_id_document_number, :class => 'form-control' %></div>
            </div>
            <div class="col-md-6">
              <div class="form-group"><%= f.label :user_telephone, "Número de telèfon fix" %><br />
              <%= f.text_field :user_telephone, :class => 'form-control' %></div>

              <div class="form-group"><%= f.label :user_mobile_phone, "Número de telèfon mòbil" %><br />
              <%= f.text_field :user_mobile_phone, :class => 'form-control' %></div>
            
              <div class="form-group"><%= f.label :user_address, "Adreça" %><br />
                <%= f.text_field :user_address, :class => 'form-control' %></div>

              <div class="form-group"><%= f.label :user_zip_code, "Codi postal" %><br />
              <%= f.text_field :user_zip_code, :class => 'form-control' %></div>

              <div class="form-group"><%= f.label :user_town, "Municipi" %><br />
              <%= f.select(:user_town, [['Abella de la Conca'], ['Abrera'], ['Àger'], ['Agramunt'], ['Aguilar de Segarra'], ['Agullana'], ['Aiguafreda'], ['Aiguamúrcia'], ['Aiguaviva'], ['Aitona'], ['Alamús, els'], ['Alàs i Cerc'], ['Albagés, l\''], ['Albanyà'], ['Albatàrrec'], ['Albesa'], ['Albi, l\''], ['Albinyana'], ['Albiol, l\''], ['Albons'], ['Alcanar'], ['Alcanó'], ['Alcarràs'], ['Alcoletge'], ['Alcover'], ['Aldea, l\''], ['Aldover'], ['Aleixar, l\''], ['Alella'], ['Alfara de Carles'], ['Alfarràs'], ['Alfés'], ['Alforja'], ['Algerri'], ['Alguaire'], ['Alins'], ['Alió'], ['Almacelles'], ['Almatret'], ['Almenar'], ['Almoster'], ['Alòs de Balaguer'], ['Alp'], ['Alpens'], ['Alpicat'], ['Alt Àneu'], ['Altafulla'], ['Amer'], ['Ametlla de Mar, l\''], ['Ametlla del Vallès, l\''], ['Ampolla, l\''], ['Amposta'], ['Anglès'], ['Anglesola'], ['Arbeca'], ['Arboç, l\''], ['Arbolí'], ['Arbúcies'], ['Arenys de Mar'], ['Arenys de Munt'], ['Argelaguer'], ['Argençola'], ['Argentera, l\''], ['Argentona'], ['Armentera, l\''], ['Arnes'], ['Arres'], ['Arsèguel'], ['Artés'], ['Artesa de Lleida'], ['Artesa de Segre'], ['Ascó'], ['Aspa'], ['Avellanes i Santa Linya, les'], ['Avià'], ['Avinyó'], ['Avinyonet de Puigventós'], ['Avinyonet del Penedès'], ['Badalona'], ['Badia del Vallès'], ['Bagà'], ['Baix Pallars'], ['Balaguer'], ['Balenyà'], ['Balsareny'], ['Banyeres del Penedès'], ['Banyoles'], ['Barbens'], ['Barberà de la Conca'], ['Barberà del Vallès'], ['Barcelona'], ['Baronia de Rialb, la'], ['Bàscara'], ['Bassella'], ['Batea'], ['Bausen'], ['Begues'], ['Begur'], ['Belianes'], ['Bell-lloc d\'Urgell'], ['Bellaguarda'], ['Bellcaire d\'Empordà'], ['Bellcaire d\'Urgell'], ['Bellmunt d\'Urgell'], ['Bellmunt del Priorat'], ['Bellprat'], ['Bellpuig'], ['Bellvei'], ['Bellver de Cerdanya'], ['Bellvís'], ['Benavent de Segrià'], ['Benifallet'], ['Benissanet'], ['Berga'], ['Besalú'], ['Bescanó'], ['Beuda'], ['Bigues i Riells'], ['Biosca'], ['Bisbal d\'Empordà, la'], ['Bisbal de Falset, la'], ['Bisbal del Penedès, la'], ['Biure'], ['Blancafort'], ['Blanes'], ['Boadella i les Escaules'], ['Bolvir'], ['Bonastre'], ['Bòrdes, Es'], ['Bordils'], ['Borges Blanques, les'], ['Borges del Camp, les'], ['Borrassà'], ['Borredà'], ['Bossòst'], ['Bot'], ['Botarell'], ['Bovera'], ['Bràfim'], ['Breda'], ['Bruc, el'], ['Brull, el'], ['Brunyola'], ['Cabacés'], ['Cabanabona'], ['Cabanelles'], ['Cabanes'], ['Cabanyes, les'], ['Cabó'], ['Cabra del Camp'], ['Cabrera d\'Anoia'], ['Cabrera de Mar'], ['Cabrils'], ['Cadaqués'], ['Calaf'], ['Calafell'], ['Calders'], ['Caldes d\'Estrac'], ['Caldes de Malavella'], ['Caldes de Montbui'], ['Calella'], ['Calldetenes'], ['Callús'], ['Calonge'], ['Calonge de Segarra'], ['Camarasa'], ['Camarles'], ['Cambrils'], ['Camós'], ['Campdevànol'], ['Campelles'], ['Campins'], ['Campllong'], ['Camprodon'], ['Canejan'], ['Canet d\'Adri'], ['Canet de Mar'], ['Canonja, la'], ['Canovelles'], ['Cànoves i Samalús'], ['Cantallops'], ['Canyelles'], ['Capafonts'], ['Capçanes'], ['Capellades'], ['Capmany'], ['Capolat'], ['Cardedeu'], ['Cardona'], ['Carme'], ['Caseres'], ['Cassà de la Selva'], ['Casserres'], ['Castell de l\'Areny'], ['Castell de Mur'], ['Castell-Platja d\'Aro'], ['Castellar de la Ribera'], ['Castellar de n\'Hug'], ['Castellar del Riu'], ['Castellar del Vallès'], ['Castellbell i el Vilar'], ['Castellbisbal'], ['Castellcir'], ['Castelldans'], ['Castelldefels'], ['Castellet i la Gornal'], ['Castellfollit de la Roca'], ['Castellfollit de Riubregós'], ['Castellfollit del Boix'], ['Castellgalí'], ['Castellnou de Bages'], ['Castellnou de Seana'], ['Castelló d\'Empúries'], ['Castelló de Farfanya'], ['Castellolí'], ['Castellserà'], ['Castellterçol'], ['Castellvell del Camp'], ['Castellví de la Marca'], ['Castellví de Rosanes'], ['Catllar, el'], ['Cava'], ['Cellera de Ter, la'], ['Celrà'], ['Centelles'], ['Cercs'], ['Cerdanyola del Vallès'], ['Cervelló'], ['Cervera'], ['Cervià de les Garrigues'], ['Cervià de Ter'], ['Cistella'], ['Ciutadilla'], ['Clariana de Cardener'], ['Cogul, el'], ['Colera'], ['Coll de Nargó'], ['Collbató'], ['Colldejou'], ['Collsuspina'], ['Colomers'], ['Coma i la Pedra, la'], ['Conca de Dalt'], ['Conesa'], ['Constantí'], ['Copons'], ['Corbera d\'Ebre'], ['Corbera de Llobregat'], ['Corbins'], ['Corçà'], ['Cornellà de Llobregat'], ['Cornellà del Terri'], ['Cornudella de Montsant'], ['Creixell'], ['Crespià'], ['Cruïlles, Monells i Sant Sadurní de l\'Heura'], ['Cubelles'], ['Cubells'], ['Cunit'], ['Darnius'], ['Das'], ['Deltebre'], ['Dosrius'], ['Duesaigües'], ['Escala, l\''], ['Esparreguera'], ['Espinelves'], ['Espluga Calba, l\''], ['Espluga de Francolí, l\''], ['Esplugues de Llobregat'], ['Espolla'], ['Esponellà'], ['Espot'], ['Espunyola, l\''], ['Estamariu'], ['Estany, l\''], ['Estaràs'], ['Esterri d\'Àneu'], ['Esterri de Cardós'], ['Falset'], ['Far d\'Empordà, el'], ['Farrera'], ['Fatarella, la'], ['Febró, la'], ['Figaró-Montmany'], ['Fígols'], ['Fígols i Alinyà'], ['Figuera, la'], ['Figueres'], ['Figuerola del Camp'], ['Flaçà'], ['Flix'], ['Floresta, la'], ['Fogars de la Selva'], ['Fogars de Montclús'], ['Foixà'], ['Folgueroles'], ['Fondarella'], ['Fonollosa'], ['Font-rubí'], ['Fontanals de Cerdanya'], ['Fontanilles'], ['Fontcoberta'], ['Foradada'], ['Forallac'], ['Forès'], ['Fornells de la Selva'], ['Fortià'], ['Franqueses del Vallès, les'], ['Freginals'], ['Fuliola, la'], ['Fulleda'], ['Gaià'], ['Galera, la'], ['Gallifa'], ['Gandesa'], ['Garcia'], ['Garidells, els'], ['Garriga, la'], ['Garrigàs'], ['Garrigoles'], ['Garriguella'], ['Gavà'], ['Gavet de la Conca'], ['Gelida'], ['Ger'], ['Gimenells i el Pla de la Font'], ['Ginestar'], ['Girona'], ['Gironella'], ['Gisclareny'], ['Godall'], ['Golmés'], ['Gombrèn'], ['Gósol'], ['Granada, la'], ['Granadella, la'], ['Granera'], ['Granja d\'Escarp, la'], ['Granollers'], ['Granyanella'], ['Granyena de les Garrigues'], ['Granyena de Segarra'], ['Gratallops'], ['Gualba'], ['Gualta'], ['Guardiola de Berguedà'], ['Guiamets, els'], ['Guils de Cerdanya'], ['Guimerà'], ['Guingueta d\'Àneu, la'], ['Guissona'], ['Guixers'], ['Gurb'], ['Horta de Sant Joan'], ['Hospitalet de Llobregat, l\''], ['Hostalets de Pierola, els'], ['Hostalric'], ['Igualada'], ['Isona i Conca Dellà'], ['Isòvol'], ['Ivars d\'Urgell'], ['Ivars de Noguera'], ['Ivorra'], ['Jafre'], ['Jonquera, la'], ['Jorba'], ['Josa i Tuixén'], ['Juià'], ['Juncosa'], ['Juneda'], ['Les'], ['Linyola'], ['Llacuna, la'], ['Lladó'], ['Lladorre'], ['Lladurs'], ['Llagosta, la'], ['Llagostera'], ['Llambilles'], ['Llanars'], ['Llançà'], ['Llardecans'], ['Llavorsí'], ['Lleida'], ['Llers'], ['Lles de Cerdanya'], ['Lliçà d\'Amunt'], ['Lliçà de Vall'], ['Llimiana'], ['Llinars del Vallès'], ['Llívia'], ['Lloar, el'], ['Llobera'], ['Llorac'], ['Llorenç del Penedès'], ['Lloret de Mar'], ['Llosses, les'], ['Lluçà'], ['Maçanet de Cabrenys'], ['Maçanet de la Selva'], ['Madremanya'], ['Maià de Montcal'], ['Maials'], ['Maldà'], ['Malgrat de Mar'], ['Malla'], ['Manlleu'], ['Manresa'], ['Marçà'], ['Margalef'], ['Marganell'], ['Martorell'], ['Martorelles'], ['Mas de Barberans'], ['Masarac'], ['Masdenverge'], ['Masies de Roda, les'], ['Masies de Voltregà, les'], ['Masllorenç'], ['Masnou, el'], ['Masó, la'], ['Maspujols'], ['Masquefa'], ['Masroig, el'], ['Massalcoreig'], ['Massanes'], ['Massoteres'], ['Matadepera'], ['Mataró'], ['Mediona'], ['Menàrguens'], ['Meranges'], ['Mieres'], ['Milà, el'], ['Miralcamp'], ['Miravet'], ['Moià'], ['Molar, el'], ['Molins de Rei'], ['Mollerussa'], ['Mollet de Peralada'], ['Mollet del Vallès'], ['Molló'], ['Molsosa, la'], ['Monistrol de Calders'], ['Monistrol de Montserrat'], ['Mont-ral'], ['Mont-ras'], ['Mont-roig del Camp'], ['Montagut i Oix'], ['Montblanc'], ['Montbrió del Camp'], ['Montcada i Reixac'], ['Montclar'], ['Montellà i Martinet'], ['Montesquiu'], ['Montferrer i Castellbò'], ['Montferri'], ['Montgai'], ['Montgat'], ['Montmajor'], ['Montmaneu'], ['Montmell, el'], ['Montmeló'], ['Montoliu de Lleida'], ['Montoliu de Segarra'], ['Montornès de Segarra'], ['Montornès del Vallès'], ['Montseny'], ['Móra d\'Ebre'], ['Móra la Nova'], ['Morell, el'], ['Morera de Montsant, la'], ['Muntanyola'], ['Mura'], ['Nalec'], ['Naut Aran'], ['Navarcles'], ['Navàs'], ['Navata'], ['Navès'], ['Nou de Berguedà, la'], ['Nou de Gaià, la'], ['Nulles'], ['Odèn'], ['Òdena'], ['Ogassa'], ['Olèrdola'], ['Olesa de Bonesvalls'], ['Olesa de Montserrat'], ['Oliana'], ['Oliola'], ['Olius'], ['Olivella'], ['Olost'], ['Olot'], ['Oluges, les'], ['Olvan'], ['Omellons, els'], ['Omells de na Gaia, els'], ['Ordis'], ['Organyà'], ['Orís'], ['Oristà'], ['Orpí'], ['Òrrius'], ['Os de Balaguer'], ['Osor'], ['Ossó de Sió'], ['Pacs del Penedès'], ['Palafolls'], ['Palafrugell'], ['Palamós'], ['Palau d\'Anglesola, el'], ['Palau de Santa Eulàlia'], ['Palau-sator'], ['Palau-saverdera'], ['Palau-solità i Plegamans'], ['Pallaresos, els'], ['Pallejà'], ['Palma d\'Ebre, la'], ['Palma de Cervelló, la'], ['Palol de Revardit'], ['Pals'], ['Papiol, el'], ['Pardines'], ['Parets del Vallès'], ['Parlavà'], ['Passanant i Belltall'], ['Pau'], ['Paüls'], ['Pedret i Marzà'], ['Penelles'], ['Pera, la'], ['Perafita'], ['Perafort'], ['Peralada'], ['Peramola'], ['Perelló, el'], ['Piera'], ['Piles, les'], ['Pineda de Mar'], ['Pinell de Brai, el'], ['Pinell de Solsonès'], ['Pinós'], ['Pira'], ['Pla de Santa Maria, el'], ['Pla del Penedès, el'], ['Planes d\'Hostoles, les'], ['Planoles'], ['Plans de Sió, els'], ['Poal, el'], ['Pobla de Cérvoles, la'], ['Pobla de Claramunt, la'], ['Pobla de Lillet, la'], ['Pobla de Mafumet, la'], ['Pobla de Massaluca, la'], ['Pobla de Montornès, la'], ['Pobla de Segur, la'], ['Poboleda'], ['Polinyà'], ['Pont d\'Armentera, el'], ['Pont de Bar, el'], ['Pont de Molins'], ['Pont de Suert, el'], ['Pont de Vilomara i Rocafort, el'], ['Pontils'], ['Pontons'], ['Pontós'], ['Ponts'], ['Porqueres'], ['Porrera'], ['Port de la Selva, el'], ['Portbou'], ['Portella, la'], ['Pradell de la Teixeta'], ['Prades'], ['Prat de Comte'], ['Prat de Llobregat, el'], ['Pratdip'], ['Prats de Lluçanès'], ['Prats de Rei, els'], ['Prats i Sansor'], ['Preixana'], ['Preixens'], ['Premià de Dalt'], ['Premià de Mar'], ['Preses, les'], ['Prullans'], ['Puig-reig'], ['Puigcerdà'], ['Puigdàlber'], ['Puiggròs'], ['Puigpelat'], ['Puigverd d\'Agramunt'], ['Puigverd de Lleida'], ['Pujalt'], ['Quar, la'], ['Quart'], ['Queralbs'], ['Querol'], ['Rabós'], ['Rajadell'], ['Rasquera'], ['Regencós'], ['Rellinars'], ['Renau'], ['Reus'], ['Rialp'], ['Riba-roja d\'Ebre'], ['Riba, la'], ['Ribera d\'Ondara'], ['Ribera d\'Urgellet'], ['Ribes de Freser'], ['Riells i Viabrea'], ['Riera de Gaià, la'], ['Riner'], ['Ripoll'], ['Ripollet'], ['Riu de Cerdanya'], ['Riudarenes'], ['Riudaura'], ['Riudecanyes'], ['Riudecols'], ['Riudellots de la Selva'], ['Riudoms'], ['Riumors'], ['Roca del Vallès, la'], ['Rocafort de Queralt'], ['Roda de Barà'], ['Roda de Ter'], ['Rodonyà'], ['Roquetes'], ['Roses'], ['Rosselló'], ['Rourell, el'], ['Rubí'], ['Rubió'], ['Rupià'], ['Rupit i Pruit'], ['Sabadell'], ['Sagàs'], ['Salàs de Pallars'], ['Saldes'], ['Sales de Llierca'], ['Sallent'], ['Salomó'], ['Salou'], ['Salt'], ['Sanaüja'], ['Sant Adrià de Besòs'], ['Sant Agustí de Lluçanès'], ['Sant Andreu de la Barca'], ['Sant Andreu de Llavaneres'], ['Sant Andreu Salou'], ['Sant Aniol de Finestres'], ['Sant Antoni de Vilamajor'], ['Sant Bartomeu del Grau'], ['Sant Boi de Llobregat'], ['Sant Boi de Lluçanès'], ['Sant Carles de la Ràpita'], ['Sant Cebrià de Vallalta'], ['Sant Celoni'], ['Sant Climent de Llobregat'], ['Sant Climent Sescebes'], ['Sant Cugat del Vallès'], ['Sant Cugat Sesgarrigues'], ['Sant Esteve de la Sarga'], ['Sant Esteve de Palautordera'], ['Sant Esteve Sesrovires'], ['Sant Feliu de Buixalleu'], ['Sant Feliu de Codines'], ['Sant Feliu de Guíxols'], ['Sant Feliu de Llobregat'], ['Sant Feliu de Pallerols'], ['Sant Feliu Sasserra'], ['Sant Ferriol'], ['Sant Fost de Campsentelles'], ['Sant Fruitós de Bages'], ['Sant Gregori'], ['Sant Guim de Freixenet'], ['Sant Guim de la Plana'], ['Sant Hilari Sacalm'], ['Sant Hipòlit de Voltregà'], ['Sant Iscle de Vallalta'], ['Sant Jaume d\'Enveja'], ['Sant Jaume de Frontanyà'], ['Sant Jaume de Llierca'], ['Sant Jaume dels Domenys'], ['Sant Joan de les Abadesses'], ['Sant Joan de Mollet'], ['Sant Joan de Vilatorrada'], ['Sant Joan Despí'], ['Sant Joan les Fonts'], ['Sant Jordi Desvalls'], ['Sant Julià de Cerdanyola'], ['Sant Julià de Ramis'], ['Sant Julià de Vilatorta'], ['Sant Julià del Llor i Bonmatí'], ['Sant Just Desvern'], ['Sant Llorenç d\'Hortons'], ['Sant Llorenç de la Muga'], ['Sant Llorenç de Morunys'], ['Sant Llorenç Savall'], ['Sant Martí d\'Albars'], ['Sant Martí de Centelles'], ['Sant Martí de Llémena'], ['Sant Martí de Riucorb'], ['Sant Martí de Tous'], ['Sant Martí Sarroca'], ['Sant Martí Sesgueioles'], ['Sant Martí Vell'], ['Sant Mateu de Bages'], ['Sant Miquel de Campmajor'], ['Sant Miquel de Fluvià'], ['Sant Mori'], ['Sant Pau de Segúries'], ['Sant Pere de Ribes'], ['Sant Pere de Riudebitlles'], ['Sant Pere de Torelló'], ['Sant Pere de Vilamajor'], ['Sant Pere Pescador'], ['Sant Pere Sallavinera'], ['Sant Pol de Mar'], ['Sant Quintí de Mediona'], ['Sant Quirze de Besora'], ['Sant Quirze del Vallès'], ['Sant Quirze Safaja'], ['Sant Ramon'], ['Sant Sadurní d\'Anoia'], ['Sant Sadurní d\'Osormort'], ['Sant Salvador de Guardiola'], ['Sant Vicenç de Castellet'], ['Sant Vicenç de Montalt'], ['Sant Vicenç de Torelló'], ['Sant Vicenç dels Horts'], ['Santa Bàrbara'], ['Santa Cecília de Voltregà'], ['Santa Coloma de Cervelló'], ['Santa Coloma de Farners'], ['Santa Coloma de Gramenet'], ['Santa Coloma de Queralt'], ['Santa Cristina d\'Aro'], ['Santa Eugènia de Berga'], ['Santa Eulàlia de Riuprimer'], ['Santa Eulàlia de Ronçana'], ['Santa Fe del Penedès'], ['Santa Llogaia d\'Àlguema'], ['Santa Margarida de Montbui'], ['Santa Margarida i els Monjos'], ['Santa Maria d\'Oló'], ['Santa Maria de Besora'], ['Santa Maria de Corcó'], ['Santa Maria de Martorelles'], ['Santa Maria de Merlès'], ['Santa Maria de Miralles'], ['Santa Maria de Palautordera'], ['Santa Oliva'], ['Santa Pau'], ['Santa Perpètua de Mogoda'], ['Santa Susanna'], ['Santpedor'], ['Sarral'], ['Sarrià de Ter'], ['Sarroca de Bellera'], ['Sarroca de Lleida'], ['Saus, Camallera i Llampaies'], ['Savallà del Comtat'], ['Secuita, la'], ['Selva de Mar, la'], ['Selva del Camp, la'], ['Senan'], ['Sénia, la'], ['Senterada'], ['Sentiu de Sió, la'], ['Sentmenat'], ['Serinyà'], ['Seròs'], ['Serra de Daró'], ['Setcases'], ['Seu d\'Urgell, la'], ['Seva'], ['Sidamon'], ['Sils'], ['Sitges'], ['Siurana'], ['Sobremunt'], ['Soleràs, el'], ['Solivella'], ['Solsona'], ['Sora'], ['Soriguera'], ['Sort'], ['Soses'], ['Subirats'], ['Sudanell'], ['Sunyer'], ['Súria'], ['Susqueda'], ['Tagamanent'], ['Talamanca'], ['Talarn'], ['Talavera'], ['Tallada d\'Empordà, la'], ['Taradell'], ['Tarragona'], ['Tàrrega'], ['Tarrés'], ['Tarroja de Segarra'], ['Tavèrnoles'], ['Tavertet'], ['Teià'], ['Térmens'], ['Terrades'], ['Terrassa'], ['Tiana'], ['Tírvia'], ['Tiurana'], ['Tivenys'], ['Tivissa'], ['Tona'], ['Torà'], ['Tordera'], ['Torelló'], ['Torms, els'], ['Tornabous'], ['Torre de Cabdella, la'], ['Torre de Claramunt, la'], ['Torre de Fontaubella, la'], ['Torre de l\'Espanyol, la'], ['Torre-serona'], ['Torrebesses'], ['Torredembarra'], ['Torrefarrera'], ['Torrefeta i Florejacs'], ['Torregrossa'], ['Torrelameu'], ['Torrelavit'], ['Torrelles de Foix'], ['Torrelles de Llobregat'], ['Torrent'], ['Torres de Segre'], ['Torroella de Fluvià'], ['Torroella de Montgrí'], ['Torroja del Priorat'], ['Tortellà'], ['Tortosa'], ['Toses'], ['Tossa de Mar'], ['Tremp'], ['Ullà'], ['Ullastrell'], ['Ullastret'], ['Ulldecona'], ['Ulldemolins'], ['Ultramort'], ['Urús'], ['Vacarisses'], ['Vajol, la'], ['Vall d\'en Bas, la'], ['Vall de Bianya, la'], ['Vall de Boí, la'], ['Vall de Cardós'], ['Vall-llobrega'], ['Vallbona d\'Anoia'], ['Vallbona de les Monges'], ['Vallcebre'], ['Vallclara'], ['Vallfogona de Balaguer'], ['Vallfogona de Ripollès'], ['Vallfogona de Riucorb'], ['Vallgorguina'], ['Vallirana'], ['Vallmoll'], ['Vallromanes'], ['Valls'], ['Valls d\'Aguilar, les'], ['Valls de Valira, les'], ['Vandellòs i l\'Hospitalet de l\'Infant'], ['Vansa i Fórnols, la'], ['Veciana'], ['Vendrell, el'], ['Ventalló'], ['Verdú'], ['Verges'], ['Vespella de Gaià'], ['Vic'], ['Vidrà'], ['Vidreres'], ['Vielha e Mijaran'], ['Vila-rodona'], ['Vila-sacra'], ['Vila-sana'], ['Vila-seca'], ['Vilabella'], ['Vilabertran'], ['Vilablareix'], ['Vilada'], ['Viladamat'], ['Viladasens'], ['Viladecans'], ['Viladecavalls'], ['Vilademuls'], ['Viladrau'], ['Vilafant'], ['Vilafranca del Penedès'], ['Vilagrassa'], ['Vilajuïga'], ['Vilalba dels Arcs'], ['Vilalba Sasserra'], ['Vilaller'], ['Vilallonga de Ter'], ['Vilallonga del Camp'], ['Vilamacolum'], ['Vilamalla'], ['Vilamaniscle'], ['Vilamòs'], ['Vilanant'], ['Vilanova d\'Escornalbou'], ['Vilanova de Bellpuig'], ['Vilanova de l\'Aguda'], ['Vilanova de la Barca'], ['Vilanova de Meià'], ['Vilanova de Prades'], ['Vilanova de Sau'], ['Vilanova de Segrià'], ['Vilanova del Camí'], ['Vilanova del Vallès'], ['Vilanova i la Geltrú'], ['Vilaplana'], ['Vilassar de Dalt'], ['Vilassar de Mar'], ['Vilaür'], ['Vilaverd'], ['Vilella Alta, la'], ['Vilella Baixa, la'], ['Vilobí d\'Onyar'], ['Vilobí del Penedès'], ['Vilopriu'], ['Vilosell, el'], ['Vimbodí i Poblet'], ['Vinaixa'], ['Vinebre'], ['Vinyols i els Arcs'], ['Viver i Serrateix'], ['Xerta']], {:selected => 'Barcelona'}, {:class => 'form-control'}) %></div>
            </div>
          </div>
        </div>
      </div>

      <div class="tab-pane" id="envolupant">
        <div class="content-in-tabs">
          <div class="row">
            <div class="col-md-6">
              <div class="form-group"><%= f.label :facade_improvements, "S'han realitzat millores a les façanes de l'edifici?" %><br />
              <%= f.select(:facade_improvements, [['', 0], ['Sí, i s\'han millorat les seves característiques d\'aïllament tèrmic', 1], ['Sí, però únicament s\'ha reparat el que estava malmès', 2], ['No, però es volen millorar properament', 3], ['No', 4]], {}, {:class => 'form-control'}) %>
              </div>

              <div class="form-group"><%= f.label :roof_improvements, "S'han realitzat millores a la coberta?" %><br />
              <%= f.select(:roof_improvements, [['', 0], ['Sí, i s\'han millorat les seves característiques d\'aïllament tèrmic', 1], ['Sí, però únicament s\'ha reparat el que estava malmès', 2], ['No, però es vol millorar properament', 3], ['No', 4]], {}, {:class => 'form-control'}) %>
              </div>

              
            </div>
            <div class="col-md-6">
              <div class="form-group"><%= f.label :window_type, "Tipus majoritari de finestres" %><br />
              <%= f.select(:window_type, [['', 0], ['Finestres de fusta amb vidre senzill', 1], ['Finestres de fusta amb vidre doble i cambra d\'aire', 2], ['Finestres metàl·liques de vidre senzill', 3], ['Finestres metàl·liques amb vidre doble i cambra d\'aire', 4], ['Un altre tipus de finestres', 5]], {}, {:class => 'form-control'}) %>
              </div>

              <div class="form-group"><%= f.label :window_tightness, "Estanquitat a l'aire de les finestres" %><br />
              <%= f.select(:window_tightness, [['', 0], ['La majoria són molt estanques, tanquen molt bé', 1], ['Algunes tanquen bé i altres deixen passar aire', 2], ['La majoria deixen passar aire tot i estar ben tancades', 3]], {}, {:class => 'form-control'}) %>
              </div>
              
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <hr>
              <p>Solucions constructives típiques de <%= @building_systems_year %> a Catalunya:</p>
              <ul class="nav nav-tabs">
                <li class="active"><a href="#parets_unfull" data-toggle="tab">Parets d'un sol full</a></li>
                <li><a href="#parets_doblefull" data-toggle="tab">Parets doble full</a></li>
                <li><a href="#cobertes_planes" data-toggle="tab">Cobertes planes</a></li>
                <li><a href="#cobertes_inclinades" data-toggle="tab">Cobertes inclinades</a></li>
                <li><a href="#terres" data-toggle="tab">Terres</a></li>
              </ul>

              <div class="tab-content">
                <div class="tab-pane active" id="parets_unfull">
                  <div class="table-responsive">
                    <table class="table table-striped">
                      <thead>
                        <tr>
                          <th>Composició</th>
                          <th>Gruix</th>
                          <th>Puntuació</th>
                          <th>Probabilitat</th>
                        </tr>
                      </thead>
                      <tbody>
                        <% @building_single_sheet_walls.each do |system| %>
                        <tr>
                          <td>
                            <%= system.name %>
                          </td>
                          <td>
                            <%= system.thickness %> cm
                          </td>
                          <td>
                            <% system.score.times do %>
                              <span class="glyphicon glyphicon-star"> </span>
                            <% end %>
                          </td>
                          <td>
                            <% system.decade.times do %>
                              <span class="glyphicon glyphicon-ok"> </span>
                            <% end %>
                          </td>
                        </tr>
                        <% end %>    
                      </tbody>
                    </table>
                  </div>
                </div>
                <div class="tab-pane" id="parets_doblefull">
                  <div class="table-responsive">
                    <table class="table table-striped">
                      <thead>
                        <tr>
                          <th>Composició</th>
                          <th>Gruix</th>
                          <th>Puntuació</th>
                          <th>Probabilitat</th>
                        </tr>
                      </thead>
                      <tbody>
                        <% @building_double_sheet_walls.each do |system| %>
                        <tr>
                          <td>
                            <%= system.name %>
                          </td>
                          <td>
                            <%= system.thickness %> cm
                          </td>
                          <td>
                            <% system.score.times do %>
                              <span class="glyphicon glyphicon-star"> </span>
                            <% end %>
                          </td>
                          <td>
                            <% system.decade.times do %>
                              <span class="glyphicon glyphicon-ok"> </span>
                            <% end %>
                          </td>
                        </tr>
                        <% end %>    
                      </tbody>
                    </table>
                  </div>
                </div>
                <div class="tab-pane" id="cobertes_planes">
                  <div class="table-responsive">
                    <table class="table table-striped">
                      <thead>
                        <tr>
                          <th>Composició</th>
                          <th>Puntuació</th>
                          <th>Probabilitat</th>
                        </tr>
                      </thead>
                      <tbody>
                        <% @building_flat_roof.each do |system| %>
                        <tr>
                          <td>
                            <%= system.name %>
                          </td>
                          <td>
                            <% system.score.times do %>
                              <span class="glyphicon glyphicon-star"> </span>
                            <% end %>
                          </td>
                          <td>
                            <% system.decade.times do %>
                              <span class="glyphicon glyphicon-ok"> </span>
                            <% end %>
                          </td>
                        </tr>
                        <% end %>    
                      </tbody>
                    </table>
                  </div>
                </div>
                <div class="tab-pane" id="cobertes_inclinades">
                  <div class="table-responsive">
                    <table class="table table-striped">
                      <thead>
                        <tr>
                          <th>Composició</th>
                          <th>Puntuació</th>
                          <th>Probabilitat</th>
                        </tr>
                      </thead>
                      <tbody>
                        <% @building_slanted_roof.each do |system| %>
                        <tr>
                          <td>
                            <%= system.name %>
                          </td>
                          <td>
                            <% system.score.times do %>
                              <span class="glyphicon glyphicon-star"> </span>
                            <% end %>
                          </td>
                          <td>
                            <% system.decade.times do %>
                              <span class="glyphicon glyphicon-ok"> </span>
                            <% end %>
                          </td>
                        </tr>
                        <% end %>    
                      </tbody>
                    </table>
                  </div>
                </div>
                <div class="tab-pane" id="terres">
                  <div class="table-responsive">
                    <table class="table table-striped">
                      <thead>
                        <tr>
                          <th>Composició</th>
                          <th>Puntuació</th>
                          <th>Probabilitat</th>
                        </tr>
                      </thead>
                      <tbody>
                        <% @building_floor.each do |system| %>
                        <tr>
                          <td>
                            <%= system.name %>
                          </td>
                          <td>
                            <% system.score.times do %>
                              <span class="glyphicon glyphicon-star"> </span>
                            <% end %>
                          </td>
                          <td>
                            <% system.decade.times do %>
                              <span class="glyphicon glyphicon-ok"> </span>
                            <% end %>
                          </td>
                        </tr>
                        <% end %>    
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <hr>
          
          <div class="row">
            <div class="col-md-12">
              <div class="panel panel-default">
                <div class="panel-heading">
                  <h3 class="panel-title">Definició de les façanes</h3>
                </div>
                <div class="panel-body">
                  <div class="row">
                    <div class="col-md-6">
                      <div class="form-group"><%= f.label :facade_definition, "Descripció" %><br />
                      <%= f.text_field :facade_definition, :class => 'form-control' %></div>
                    </div>
                    <div class="col-md-6">
                      <div class="form-group"><%= f.label :facade_score, "Puntuació segons criteris tèrmics" %><br />
                      <%= f.select(:facade_score, [['', 0], ['1 - Molt baixa', 1], ['2 - Baixa', 2], ['3 - Acceptable', 3], ['4 - Alta', 4], ['5 - Molt alta', 5]], {}, {:class => 'form-control'}) %>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-12">
              <div class="panel panel-default">
                <div class="panel-heading">
                  <h3 class="panel-title">Definició de la coberta</h3>
                </div>
                <div class="panel-body">
                  <div class="row">
                    <div class="col-md-6">
                      <div class="form-group"><%= f.label :roof_definition, "Descripció" %><br />
                      <%= f.text_field :roof_definition, :class => 'form-control' %></div>
                    </div>
                    <div class="col-md-6">
                      <div class="form-group"><%= f.label :roof_score, "Puntuació segons criteris tèrmics" %><br />
                      <%= f.select(:roof_score, [['', 0], ['1 - Molt baixa', 1], ['2 - Baixa', 2], ['3 - Acceptable', 3], ['4 - Alta', 4], ['5 - Molt alta', 5]], {}, {:class => 'form-control'}) %>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-12">
              <div class="panel panel-default">
                <div class="panel-heading">
                  <h3 class="panel-title">Definició del terra</h3>
                </div>
                <div class="panel-body">
                  <div class="row">
                    <div class="col-md-6">
                      <div class="form-group"><%= f.label :floor_definition, "Descripció" %><br />
                      <%= f.text_field :floor_definition, :class => 'form-control' %></div>
                    </div>
                    <div class="col-md-6">
                      <div class="form-group"><%= f.label :floor_score, "Puntuació segons criteris tèrmics" %><br />
                      <%= f.select(:floor_score, [['', 0], ['1 - Molt baixa', 1], ['2 - Baixa', 2], ['3 - Acceptable', 3], ['4 - Alta', 4], ['5 - Molt alta', 5]], {}, {:class => 'form-control'}) %>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-12">
              <div class="panel panel-default">
                <div class="panel-heading">
                  <h3 class="panel-title">Definició de les finestres</h3>
                </div>
                <div class="panel-body">
                  <div class="row">
                    <div class="col-md-6">
                      <div class="form-group"><%= f.label :windows_definition, "Descripció" %><br />
                      <%= f.text_field :windows_definition, :class => 'form-control' %></div>
                    </div>
                    <div class="col-md-6">
                      <div class="form-group"><%= f.label :windows_score, "Puntuació segons criteris tèrmics" %><br />
                      <%= f.select(:windows_score, [['', 0], ['1 - Molt baixa', 1], ['2 - Baixa', 2], ['3 - Acceptable', 3], ['4 - Alta', 4], ['5 - Molt alta', 5]], {}, {:class => 'form-control'}) %>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
  
        </div>
      </div>

      <div class="tab-pane" id="instalacions">
        <div class="content-in-tabs">
          <div class="row">
            <div class="col-md-6">
              <div class="form-group"><%= f.label :hot_water_type, "Sistema d'ACS i calefacció" %><br />
              <%= f.select(:hot_water_type, [['', 0], ['Caldera mixta per aigua calenta i calefacció, amb gas natural', 1], ['Caldera mixta per aigua calenta i calefacció, amb gasoil', 2], ['Caldera mixta per aigua calenta i calefacció, amb biomassa', 3], ['Termoacumulador elèctric per aigua calenta i caldera de gas natural per calefacció', 4], ['Termoacumulador elèctric per aigua calenta i caldera de gasoil per calefacció', 5], ['Termoacumulador elèctric per aigua calenta i bomba de calor per calefacció', 6], ['Altre sistema tot elèctric', 7], ['Cap combinació de les anteriors', 8]], {}, {:class => 'form-control'}) %>
              </div>

              <div class="form-group"><%= f.label :hot_water_age, "Antiguitat del sistema d'ACS" %><br />
              <%= f.select(:hot_water_age, [['', 0], ['Més de 10 anys', 1], ['Entre 5 i 10 anys', 2], ['Menys de 5 anys', 3]], {}, {:class => 'form-control'}) %>
              </div>

              <div class="form-group"><%= f.label :heating_age, "Antiguitat del sistema de calefacció" %><br />
              <span class="text-tips">Encara que sigui el mateix sistema que el d'aigua calenta torneu a indicar la seva antiguitat</span><br />
              <%= f.select(:heating_age, [['', 0], ['Més de 10 anys', 1], ['Entre 5 i 10 anys', 2], ['Menys de 5 anys', 3]], {}, {:class => 'form-control'}) %>
              </div>

              <div class="form-group"><%= f.label :cooling_type, "Sistema de refrigeració" %><br />
              <%= f.select(:cooling_type, [['', 0], ['Aire condicionat de paret o sostre (només refrigeració)', 1], ['Bomba de calor (calefacció + refrigeració)', 2], ['No tinc cap sistema d\'aire condicionat', 3]], {}, {:class => 'form-control'}) %>
              </div>

              <div class="form-group"><%= f.label :cooling_age, "Antiguitat del sistema de refrigeració" %><br />
              <%= f.select(:cooling_age, [['', 0], ['Més de 10 anys', 1], ['Entre 5 i 10 anys', 2], ['Menys de 5 anys', 3]], {}, {:class => 'form-control'}) %>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group"><%= f.label :lighting_type, "Tipus d'il·luminació majoritari" %><br />
              <%= f.select(:lighting_type, [['', 0], ['Bombetes de baix consum i fluorescents de tub', 1], ['Bombetes halògenes', 2], ['Bombetes incandescents', 3], ['Bombetes de LEDs', 4], ['Hi ha molta varietat de làmpades', 5]], {}, {:class => 'form-control'}) %>
              </div>

              <div class="form-group"><%= f.label :lighting_power, "Potència total en il·luminació" %><br />
              <span class="text-tips">Valor en W. Els valors típics són: 5W per bombeta tipus LED, 14W per bombeta de baix consum, 35W per bombeta halògena, 36W per fluorescent i 60W per bombeta incandescent.</span>
              <%= f.text_field :lighting_power, :class => 'form-control' %>
              </div>
            </div>
          </div>
          <hr>
          <div class="row">
            <div class="col-md-12">
              <div class="panel panel-default">
                <div class="panel-heading">
                  <h3 class="panel-title">Definició del sistema d'ACS</h3>
                </div>
                <div class="panel-body">
                  <div class="row">
                    <div class="col-md-6">
                      <div class="form-group"><%= f.label :hot_water_definition, "Descripció" %><br />
                      <%= f.text_field :hot_water_definition, :class => 'form-control' %></div>
                    </div>
                    <div class="col-md-6">
                      <div class="form-group"><%= f.label :hot_water_score, "Puntuació segons criteris de rendiment" %><br />
                      <%= f.select(:hot_water_score, [['', 0], ['1 - Molt baixa', 1], ['2 - Baixa', 2], ['3 - Acceptable', 3], ['4 - Alta', 4], ['5 - Molt alta', 5]], {}, {:class => 'form-control'}) %>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-12">
              <div class="panel panel-default">
                <div class="panel-heading">
                  <h3 class="panel-title">Definició del sistema de calefacció</h3>
                </div>
                <div class="panel-body">
                  <div class="row">
                    <div class="col-md-6">
                      <div class="form-group"><%= f.label :heating_definition, "Descripció" %><br />
                      <%= f.text_field :heating_definition, :class => 'form-control' %></div>
                    </div>
                    <div class="col-md-6">
                      <div class="form-group"><%= f.label :heating_score, "Puntuació segons criteris de rendiment" %><br />
                      <%= f.select(:heating_score, [['', 0], ['1 - Molt baixa', 1], ['2 - Baixa', 2], ['3 - Acceptable', 3], ['4 - Alta', 4], ['5 - Molt alta', 5]], {}, {:class => 'form-control'}) %>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-12">
              <div class="panel panel-default">
                <div class="panel-heading">
                  <h3 class="panel-title">Definició del sistema de refrigeració</h3>
                </div>
                <div class="panel-body">
                  <div class="row">
                    <div class="col-md-6">
                      <div class="form-group"><%= f.label :cooling_definition, "Descripció" %><br />
                      <%= f.text_field :cooling_definition, :class => 'form-control' %></div>
                    </div>
                    <div class="col-md-6">
                      <div class="form-group"><%= f.label :cooling_score, "Puntuació segons criteris de rendiment" %><br />
                      <%= f.select(:cooling_score, [['', 0], ['1 - Molt baixa', 1], ['2 - Baixa', 2], ['3 - Acceptable', 3], ['4 - Alta', 4], ['5 - Molt alta', 5]], {}, {:class => 'form-control'}) %>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          
          <div class="row">
            <div class="col-md-12">
              <div class="panel panel-default">
                <div class="panel-heading">
                  <h3 class="panel-title">Definició del sistema d'il·luminació</h3>
                </div>
                <div class="panel-body">
                  <div class="row">
                    <div class="col-md-6">
                      <div class="form-group"><%= f.label :lighting_definition, "Descripció" %><br />
                      <%= f.text_field :lighting_definition, :class => 'form-control' %></div>
                    </div>
                    <div class="col-md-6">
                      <div class="form-group"><%= f.label :lighting_score, "Puntuació segons criteris de rendiment" %><br />
                      <%= f.select(:lighting_score, [['', 0], ['1 - Molt baixa', 1], ['2 - Baixa', 2], ['3 - Acceptable', 3], ['4 - Alta', 4], ['5 - Molt alta', 5]], {}, {:class => 'form-control'}) %>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-12">
              <div class="panel panel-default">
                <div class="panel-heading">
                  <h3 class="panel-title">Valoració dels electrodomèstics</h3>
                </div>
                <div class="panel-body">
                  <div class="row">
                    <div class="col-md-6">
                      <div class="form-group"><%= f.label :appliances_definition, "Descripció" %><br />
                      <%= f.text_field :appliances_definition, :class => 'form-control' %></div>
                    </div>
                    <div class="col-md-6">
                      <div class="form-group"><%= f.label :appliances_score, "Puntuació segons criteris d'eficiència energètica" %><br />
                      <%= f.select(:appliances_score, [['', 0], ['1 - Molt baixa', 1], ['2 - Baixa', 2], ['3 - Acceptable', 3], ['4 - Alta', 4], ['5 - Molt alta', 5]], {}, {:class => 'form-control'}) %>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          
        </div>
      </div>
      
      <div class="tab-pane" id="consums">
        <div class="content-in-tabs">
          
          <div class="row">
            <div class="col-md-12">
              <h3>Dades informe CE3X</h3>
            </div>
          </div>

          <div class="row">
            <div class="col-md-6">
              <div class="form-group"><%= f.label :global_primary_energy, "Consum global d'energia primària" %> (kWh/m<sup>2</sup>any)<br />
              <%= f.text_field :global_primary_energy, :class => 'form-control' %>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group"><%= f.label :global_primary_energy_rating, "Qualificació del consum global d'energia primària" %><br />
              <%= f.select(:global_primary_energy_rating, [[''], ['A'], ['B'], ['C'], ['D'], ['E'], ['F'], ['G']], {}, {:class => 'form-control'}) %>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-6">
              <div class="form-group"><%= f.label :global_emissions, "Emissions globals" %> (kgCO<sub>2</sub>/m<sup>2</sup>any)<br />
              <%= f.text_field :global_emissions, :class => 'form-control' %>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group"><%= f.label :global_emissions_rating, "Qualificació de les emissions globals" %><br />
              <%= f.select(:global_emissions_rating, [[''], ['A'], ['B'], ['C'], ['D'], ['E'], ['F'], ['G']], {}, {:class => 'form-control'}) %>
              </div>
            </div>
          </div>

          <hr>

          <div class="row">
            <div class="col-md-12">
              <h3>Dades de consums reals</h3>
            </div>
          </div>

          <div class="row">
            <div class="col-md-4">
              <div class="form-group"><%= f.label :contracted_power, "Potència elèctrica contractada " %>
              <span class="text-tips">(kW)</span><br />
              <%= f.text_field :contracted_power, :class => 'form-control' %>
              </div>

            </div>
          </div>


          <div class="row">
            <div class="col-md-4">
              <div class="panel panel-default">
                <div class="panel-heading">
                  <h3 class="panel-title">Electricitat</h3>
                </div>
                <div class="panel-body">
                  <div class="form-group">
                    <%= f.label :electricity_consumption, "Consum anual " %>
                    <span class="text-tips">(kWh)</span><br />
                    <%= f.text_field :electricity_consumption, :class => 'form-control' %>
                  </div>
                  <div class="form-group">
                    <%= f.label :electricity_emissions, "Emissions CO2 " %>
                    <span class="text-tips">(kg/kWh)</span><br />
                    <%= f.text_field :electricity_emissions, :class => 'form-control' %>
                  </div>
                  <div class="form-group">
                    <%= f.label :electricity_price, "Preu " %>
                    <span class="text-tips">(€/kWh)</span><br />
                    <%= f.text_field :electricity_price, :class => 'form-control' %>
                  </div>
                  <div class="form-group">
                    <%= f.label :electricity_consumption_improvements, "Estimació consum aplicant millores " %>
                    <br />
                    <%= f.text_field :electricity_consumption_improvements, :class => 'form-control' %>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="panel panel-default">
                <div class="panel-heading">
                  <h3 class="panel-title">Gas</h3>
                </div>
                <div class="panel-body">
                  <div class="form-group">
                    <%= f.label :gas_consumption, "Consum anual " %>
                    <span class="text-tips">(kWh)</span><br />
                    <%= f.text_field :gas_consumption, :class => 'form-control' %>
                  </div>
                  <div class="form-group">
                    <%= f.label :gas_emissions, "Emissions CO2 " %>
                    <span class="text-tips">(kg/kWh)</span><br />
                    <%= f.text_field :gas_emissions, :class => 'form-control' %>
                  </div>
                  <div class="form-group">
                    <%= f.label :gas_price, "Preu " %>
                    <span class="text-tips">(€/kWh)</span><br />
                    <%= f.text_field :gas_price, :class => 'form-control' %>
                  </div>
                  <div class="form-group">
                    <%= f.label :gas_consumption_improvements, "Estimació consum aplicant millores " %>
                    <br />
                    <%= f.text_field :gas_consumption_improvements, :class => 'form-control' %>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="panel panel-default">
                <div class="panel-heading">
                  <h3 class="panel-title">Gasoil</h3>
                </div>
                <div class="panel-body">
                  <div class="form-group">
                    <%= f.label :gasoil_consumption, "Consum anual " %>
                    <span class="text-tips">(kWh)</span><br />
                    <%= f.text_field :gasoil_consumption, :class => 'form-control' %>
                  </div>
                  <div class="form-group">
                    <%= f.label :gasoil_emissions, "Emissions CO2 " %>
                    <span class="text-tips">(kg/kWh)</span><br />
                    <%= f.text_field :gasoil_emissions, :class => 'form-control' %>
                  </div>
                  <div class="form-group">
                    <%= f.label :gasoil_price, "Preu " %>
                    <span class="text-tips">(€/kWh)</span><br />
                    <%= f.text_field :gasoil_price, :class => 'form-control' %>
                  </div>
                  <div class="form-group">
                    <%= f.label :gasoil_consumption_improvements, "Estimació consum aplicant millores " %>
                    <br />
                    <%= f.text_field :gasoil_consumption_improvements, :class => 'form-control' %>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <hr>

          <div class="row">
            <div class="col-md-12">
              <h4>Distribució dels consums</h4>
              <p>El percentatge de consum és respecte la font d'energia seleccionada, no respecte el consum total. Per exemple la calefacció pot suposar el 60% del consum de gas, però el 40% respecte el total de consum. A l'apartat "Percentatge de consum" hi posaríem 60.</p>
            </div>
          </div>

          <div class="row">
            <div class="col-md-4">
              <div class="panel panel-default">
                <div class="panel-heading">
                  <h3 class="panel-title">Calefacció</h3>
                </div>
                <div class="panel-body">
                  <div class="form-group">
                    <%= f.label :heating_energy_source, "Font d'energia" %><br />
                    <%= f.select(:heating_energy_source, [['', 0], ['Electricitat', 1], ['Gas', 2], ['Gasoil', 3]], {}, {:class => 'form-control'}) %>
                  </div>
                  <div class="form-group">
                    <%= f.label :heating_percentage, "Percentatge de consum" %>
                    <br />
                    <%= f.text_field :heating_percentage, :class => 'form-control' %>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="panel panel-default">
                <div class="panel-heading">
                  <h3 class="panel-title">Refrigeració</h3>
                </div>
                <div class="panel-body">
                  <div class="form-group">
                    <%= f.label :cooling_energy_source, "Font d'energia" %><br />
                    <%= f.select(:cooling_energy_source, [['', 0], ['Electricitat', 1], ['Gas', 2], ['Gasoil', 3]], {}, {:class => 'form-control'}) %>
                  </div>
                  <div class="form-group">
                    <%= f.label :cooling_percentage, "Percentatge de consum" %>
                    <br />
                    <%= f.text_field :cooling_percentage, :class => 'form-control' %>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="panel panel-default">
                <div class="panel-heading">
                  <h3 class="panel-title">ACS</h3>
                </div>
                <div class="panel-body">
                  <div class="form-group">
                    <%= f.label :hot_water_energy_source, "Font d'energia" %><br />
                    <%= f.select(:hot_water_energy_source, [['', 0], ['Electricitat', 1], ['Gas', 2], ['Gasoil', 3]], {}, {:class => 'form-control'}) %>
                  </div>
                  <div class="form-group">
                    <%= f.label :hot_water_percentage, "Percentatge de consum" %>
                    <br />
                    <%= f.text_field :hot_water_percentage, :class => 'form-control' %>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-4">
              <div class="panel panel-default">
                <div class="panel-heading">
                  <h3 class="panel-title">Il·luminació</h3>
                </div>
                <div class="panel-body">
                  <div class="form-group">
                    <%= f.label :lighting_percentage, "Percentatge de consum" %>
                    <br />
                    <%= f.text_field :lighting_percentage, :class => 'form-control' %>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="panel panel-default">
                <div class="panel-heading">
                  <h3 class="panel-title">Electrodomèstics</h3>
                </div>
                <div class="panel-body">
                  <div class="form-group">
                    <%= f.label :appliances_percentage, "Percentatge de consum" %>
                    <br />
                    <%= f.text_field :appliances_percentage, :class => 'form-control' %>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-12 boto-final">
    <div><%= f.submit "Guardar les dades", :class => "btn button-new" %></div>
    <% end %>
  </div>
</div>
</div>
