<div class="container">
<div class="row">
    <div class="col-md-12">
			<h2 class="page-title">Llistat de projectes</h2>
		</div>
  </div>
  <div class="row">
    <div class="col-md-12 principal-content">
			<% @xprojects.each do |xproject| %>
			<div class="project-container">
				<h3><%= xproject.name %></h3>
				<div class="buttons-container">
					<%= link_to :action => 'print', :id => xproject.id do %>
						<div class="btn button-default"><span class="glyphicon glyphicon-file"> </span> Veure informe</div> 
					<% end %>

					<%= link_to :action => 'edit', :id => xproject.id do %>
						<div class="btn button-default"><span class="glyphicon glyphicon-pencil"> </span> Editar dades</div>
					<% end %>

					<%= link_to :controller => '/improvements', :action => 'index', :id => xproject.id do %>
						<div class="btn button-default"><span class="glyphicon glyphicon-star"> </span> Propostes de millora</div>
					<% end %>

					<%= link_to :action => 'write_file', :id => xproject.id do %>
						<div class="btn button-default"><span class="glyphicon glyphicon-share-alt"> </span> Crear arxiu CE3X</div> 
					<% end %>

					<%= link_to :action => 'delete', :id => xproject.id do %>
						<div class="btn button-default"><span class="glyphicon glyphicon-trash"> </span> Eliminar</div> 
					<% end %>

 
				</div>
			</div>
			<% end %>
			
			
		
  		
    </div>
    <%= link_to :action => 'new' do %>
				<div class="btn button-new"><span class="glyphicon glyphicon-plus"> </span> Crear un nou projecte</div> 
			<% end %>
  </div>
</div>