
<div class="row">
  <div class="col-md-12">
    <h2 class="page-title">Crear un nou projecte</h2>
  </div>
</div>
<%= form_for(:xproject, :url => {:action => 'create'}) do |f| %>
<%= f.error_messages %>
<%= f.hidden_field :expert_id, { :value => current_expert.id } %>

<div class="row">
  <div class="col-md-12 principal-content">
    
    <div class="form-group"><%= f.label :name, "Nom de l'immoble" %><br />
    <span class="text-tips">Per exemple "Casa a Sant Celoni" o "Pis de Balmes, n.220"</span><br />
    <%= f.text_field :name, :autofocus => true, :class => 'form-control' %></div>
    
    <div class="form-group"><%= f.label :construction_year, "Any de construcció" %><br />
    <%= f.text_field :construction_year, :class => 'form-control' %></div>

  </div>
</div>
<div class="row">
  <div class="col-md-12 boto-final">
    <div><%= f.submit "Guardar les dades", :class => "btn button-new" %></div>
  </div>
</div>
<% end %>