
<div class="row service-questions">
	<div class="col-md-4">
		<div class="img-questions">
			<%= image_tag('servei/estalvi.png', :alt => 'Estalvi', :width => '200', :height => '200') %>
		</div>
		<h3>Estalvi</h3>
		<p>Et preocupa el preu de l'energia?</p>
	</div>
	<div class="col-md-4">
		<div class="img-questions">
			<%= image_tag('servei/confort.png', :alt => 'Confort', :width => '200', :height => '200') %>
		</div>
		<h3>Confort</h3>
		<p>Vols una casa més confortable?</p>
	</div>
	<div class="col-md-4">
		<div class="img-questions">
			<%= image_tag('servei/medi_ambient.png', :alt => 'Medi ambient', :width => '200', :height => '200') %>
		</div>
		<h3>Medi ambient</h3>
		<p>Et preocupa el canvi climàtic?</p>
	</div>
</div>

<hr>

<div class="row">
	<div class="col-md-12">
		<p class="big-text">Test Energia analitza el hàbits d’ús i el comportament tèrmic de l’edifici i de les instal·lacions, utilitzant dades reals de consums i d’ús de l’edifici.</p>
		<p class="big-text">Utilitzar la metodologia i aparells de mesura adequats ens permet conèixer bé les característiques constructives per proposar canvis i millores més encertats.</p>
	</div>
</div>

<hr>

<div class="row">
	<div class="col-md-6">
		<div class="row">
			<div class="col-md-4 img-servei">
				<%= image_tag('servei/servei_casa.png', :alt => 'Casa', :width => '110', :height => '110') %>
			</div>
			<div class="col-md-8">
				<p>La forma de l'edifici i la composició de les façanes i cobertes condicionen molt la seva demanda d'energia. No proposarem canviar la forma de l'edifici, però si entenem com està fet podem saber quanta energia s'estalviarà al aïllar-lo millor. I recordeu que amb un bon aïllament hi ha molt més confort!</p>
			</div>
		</div>
	</div>
	<div class="col-md-6">
		<div class="row">
			<div class="col-md-4 img-servei">
				<%= image_tag('servei/servei_finestra.png', :alt => 'Finestra', :width => '110', :height => '110') %>
			</div>
			<div class="col-md-8">
				<p>Les portes i finestres sovint són els elements per on es perd més calor en els edificis. És tan important valorar la quantitat d'infiltracions d'aire com la qualitat dels materials.</p>
			</div>
		</div>
	</div>
</div>

<hr>

<div class="row">
	<div class="col-md-6">
		<div class="row">
			<div class="col-md-4 img-servei">
				<%= image_tag('servei/servei_bombeta.png', :alt => 'Bombeta', :width => '110', :height => '110') %>
			</div>
			<div class="col-md-8">
				<p>Millorar la il·luminació no consisteix únicament en canviar bombetes incandescents per fluorescents. Si hi ha massa llum, o massa poca, o les llumeneres no són òptimes, es poden fer propostes que millorin el confort visual amb el consum necessari.</p>
			</div>
		</div>
	</div>
	<div class="col-md-6">
		<div class="row">
			<div class="col-md-4 img-servei">
				<%= image_tag('servei/servei_clima.png', :alt => 'Clima', :width => '110', :height => '110') %>
			</div>
			<div class="col-md-8">
				<p>La calefacció i l'aire acondicionat han de ser eficients, i a vegades una substitució o millora pot amortitzar-se en poc temps i incrementar el confort.</p>
			</div>
		</div>
	</div>
</div>

<hr>

<div class="row">
	<div class="col-md-6">
		<div class="row">
			<div class="col-md-4 img-servei">
				<%= image_tag('servei/servei_aixeta.png', :alt => 'Aixeta', :width => '110', :height => '110') %>
			</div>
			<div class="col-md-8">
				<p>El consum d'aigua depèn dels hàbits d'ús, però també de la instal·lació. Si hi ha massa cabal a les aixetes es malgasta aigua i energia sense que aporti més benestar.</p>
			</div>
		</div>
	</div>
	<div class="col-md-6">
		<div class="row">
			<div class="col-md-4 img-servei">
				<%= image_tag('servei/servei_forn.png', :alt => 'Forn', :width => '110', :height => '110') %>
			</div>
			<div class="col-md-8">
				<p>Els electrodomèstics de la llar poden ser molt eficients o molt ineficients. Una part depèn del producte en sí, però també es pot estalviar molta energia millorant els hàbits d'utilització.</p>
			</div>
		</div>
	</div>
</div>

<hr>

<div class="row">
	<div class="col-md-6">
		<div class='embed-container'>
			<iframe src='https://player.vimeo.com/video/67296887' frameborder='0' webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
		</div>
	</div>
	<div class="col-md-6">
		<h4>Certificació energètica i Test Energia</h4>
		<p>En el següent vídeo de l'Agenda de la Construcció Sostenible s'explica en què consisteix la certificació energètica i quin valor afegit aporta el Test Energia.</p>
	</div>
</div>

<hr>

<div class="row">
	<div class="col-md-2">
		<a href="http://www.testenergia.cat/docs/Manual_CEE.pdf"><%= image_tag('servei/Manual_CEE.jpg', :alt => 'Manual per a la certificació energètica') %></a>
	</div>
	<div class="col-md-10">
		<h4>Com obtenir el Certificat d'Eficiència Energètica d'edificis existents</h4>
		<p>En aquest <a href="http://www.testenergia.cat/docs/Manual_CEE.pdf">document</a> podeu trobar informació pràctica sobre l'obtenció d'aquest certificat.Recordeu que el Test Energia inclou aquest certificat, però va més enllà oferint informació més detallada sobre tots els aspectes que condicionen el consum d'energia dels edificis.</p>
	</div>
</div>

<hr>

<div class="row">
	<div class="col-md-12">
		<h4>Conèixer el nostre edifici</h4>
		<p>A continuació es presenten una sèrie de documents de gran utilitat per conèixer el nostre edifici des del punt de vista de l'energia.</p>
	</div>
</div>

<div class="row">
	<div class="col-md-6">
		<ul>
			<li><a href="http://www.testenergia.cat/docs/1.pdf">1. Què és l'eficiència energètica</a></li>
			<li><a href="http://www.testenergia.cat/docs/2.pdf">2. Conèixer casa nostra</a></li>
			<li><a href="http://www.testenergia.cat/docs/3.pdf">3. Estalviar, utilitzant bé casa nostra</a></li>
			<li><a href="http://www.testenergia.cat/docs/4.pdf">4. Edificis d'energia quasi nul·la</a></li>
			<li><a href="http://www.testenergia.cat/docs/5.pdf">5. Utilitzar i mantenir els edificis</a></li>
			<li><a href="http://www.testenergia.cat/docs/6.pdf">6. La façana és la nostra protecció</a></li>
			<li><a href="http://www.testenergia.cat/docs/7.pdf">7. Unes bones finestres ens ajuden a viure millor</a></li>
			<li><a href="http://www.testenergia.cat/docs/8.pdf">8. La coberta, molt més que un paraigua per a la casa</a></li>
			<li><a href="http://www.testenergia.cat/docs/9.pdf">9. Coneguem les instal·lacions de casa nostra</a></li>
			<li><a href="http://www.testenergia.cat/docs/10.pdf">10. Tinguem cura de les instal·lacions</a></li>
			<li><a href="http://www.testenergia.cat/docs/11.pdf">11. D'on prové l'energia que consumim?</a></li>
			<li><a href="http://www.testenergia.cat/docs/12.pdf">12. Estalviem energia a la cuina</a></li>
		</ul>
	</div>
	<div class="col-md-6">
		<ul>
			<li><a href="http://www.testenergia.cat/docs/13.pdf">13. Rentar la roba ja no és "fer safareig"</a></li>
			<li><a href="http://www.testenergia.cat/docs/14.pdf">14. Els petits aparells disparen el consum d'energia</a></li>
			<li><a href="http://www.testenergia.cat/docs/15.pdf">15. Sempre la il·luminació adequada</a></li>
			<li><a href="http://www.testenergia.cat/docs/16.pdf">16. Conèixer la factura de la llum per estalviar</a></li>
			<li><a href="http://www.testenergia.cat/docs/17.pdf">17. Climatitzar, a la temperatura adequada, i ventilar</a></li>
			<li><a href="http://www.testenergia.cat/docs/18.pdf">18. Climatitzar amb bomba de calor</a></li>
			<li><a href="http://www.testenergia.cat/docs/19.pdf">19. Com escalfar l'aigua de casa?</a></li>
			<li><a href="http://www.testenergia.cat/docs/20.pdf">20. Què és una casa passiva?</a></li>
			<li><a href="http://www.testenergia.cat/docs/21.pdf">21. L'etiqueta energètica; ara també per l'habitatge</a></li>
			<li><a href="http://www.testenergia.cat/docs/22.pdf">22. Comprar o llogar una casa energèticament eficient</a></li>
			<li><a href="http://www.testenergia.cat/docs/23.pdf">23. Rehabilitació energètica</a></li>
		</ul>
	</div>
</div>

