<div class="container">
<div class="row">
	<div class="col-md-12">
		<h2>Quadre de control de l'administrador</h2>
	</div>
</div>

<div class="row">
	<div class="col-md-6 principal-content">
		<h3>Llistat d'experts</h3>
		<ol>
		<% @experts.each do |expert| %>
			<li> <%= expert.expert_first_name %> <%= expert.expert_surname1 %> <%= expert.expert_surname2 %> <br/>
			<%= link_to :action => 'show', :id => expert.id do %>
        <%= expert.email %>
      <% end %>
      | <%= link_to :action => 'delete', :id => expert.id do %>
					<span class="glyphicon glyphicon-trash"> </span> 
				<% end %>
    	</li>
		<% end %>
		</ol>
		<%= link_to :controller => 'experts', :action => 'sign_up' do %>
	      <div class="btn button-new">Registrar un nou expert</div>
	    <% end %>
	</div>
	<div class="col-md-5 col-md-offset-1 principal-content">
		<h3>Llistat de projectes</h3>
		<ol>
		<% @xprojects.each do |xproject| %>
			<div>
				<li>
					<%= xproject.name %> <span class="subtle-text">(<%= xproject.expert.email %>)</span></li>
			</div>
		<% end %>
		</ol>
	</div>
</div>
</div>