<h2>Reenviar instruccions de desbloqueig</h2>

<%= form_for(resource, :as => resource_name, :url => unlock_path(resource_name), :html => { :method => :post }) do |f| %>
  <%= devise_error_messages! %>

  <div><%= f.label :email, "Correu electrònic" %><br />
  <%= f.email_field :email, :autofocus => true %></div>

  <div><%= f.submit "Enviar instruccions de desbloqueig" %></div>
<% end %>

<%= render "devise/shared/links" %>
