<div class="container">
<div class="row">
  <div class="col-md-12">
    <%= link_to :action => 'index/'+@xproject.id.to_s do %>
      <div class="btn button-page-menu"><span class="glyphicon glyphicon-arrow-left"> </span> Tornar a la llista de millores</div>
    <% end %>
    <h2 class="page-title">Editar proposta de millora</h2>
    <h3><%= @xproject.name %></h3>
  </div>
</div>
<%= form_for(:improvement, :url => {:action => 'update', :id => @improvement.id}) do |f| %>
<div class="row">
  <div class="col-md-12 principal-content">
    <%= f.error_messages %>
    <%= f.hidden_field :xproject_id, { :value => @xproject.id } %>
    <div class="row">
      <div class="col-md-6">
        <div class="form-group"><%= f.label :name, "Nom de la proposta" %><br />
          <%= f.text_field :name, :autofocus => true, :class => 'form-control' %></div>

        <div class="form-group"><%= f.label :cost, "Cost de la proposta" %><br />
          <%= f.select(:cost, [['Menys de 200€', 1], ['Entre 200€ i 1.000€', 2], ['Entre 1.000€ i 5.000€', 3], ['Més de 5.000€', 4]], {}, {:class => 'form-control'}) %>
        </div>

        <div class="form-group"><%= f.label :energy_savings, "Estalvi d'energia associat a la proposta" %><br />
          <%= f.select(:energy_savings, [['Menys de 100€ l\'any', 1], ['De 100€ a 200€ l\'any', 2], ['De 200€ a 300€ l\'any', 3], ['Més de 300€ l\'any', 4]], {}, {:class => 'form-control'}) %>
        </div>

        <div class="form-group"><%= f.label :emissions_savings, "Reducció emissions CO2" %><br />
          <%= f.select(:emissions_savings, [['Menys del 10%', 1], ['Entre el 10% i el 30%', 2], ['Entre el 30% i el 60%', 3], ['Més del 60%', 4]], {}, {:class => 'form-control'}) %>
        </div>

        <div class="form-group"><%= f.label :roi, "Rapidesa de retorn de la inversió" %><br />
          <%= f.select(:roi, [['Menys de 5 anys', 1], ['De 5 a 10 anys', 2], ['De 10 a 15 anys', 3], ['Més de 15 anys', 4]], {}, {:class => 'form-control'}) %>
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group"><%= f.label :description, "Descripció de la proposta" %><br />
          <%= f.text_area :description, :rows => "16", :class => 'form-control' %></div>
      </div>
    </div>

    
  </div>
  <div><%= f.submit "Guardar les dades", :class => "btn button-new" %></div>
<% end %>
</div>
</div>
