<div class="container">
  <div class="row">
    <div class="col-md-12">
			<h2 class="page-title">AutoTest</h2>
		</div>
  </div>
  <div class="row">
    <div class="col-md-4 side-content">
    	<p class="side-description">Des d'aquest apartat podeu gestionar els vostres AutoTests. Si voleu fer l'AutoTest del vostre habitatge cliqueu el botó "Crear un nou AutoTest". En el cas que tingueu més d'un habitatge o edifici podeu crear més AutoTests clicant el mateix botó.</p>
    </div>
    <div class="col-md-8 principal-content">
			<% if @projects.count == 0 %>
				<h3>Encara no heu creat cap Autotest</h3>
			<% end %>


			<% @projects.each do |project| %>
			<div class="project-container">
				<h3><%= project.name %></h3>
				<div class="buttons-container">
					<%= link_to :action => 'show', :id => project.id do %>
						<div class="btn button-default"><span class="glyphicon glyphicon-file"> </span> Veure informe</div> 
					<% end %>

					<%= link_to :action => 'edit', :id => project.id do %>
						<div class="btn button-default"><span class="glyphicon glyphicon-pencil"> </span> Editar dades</div>
					<% end %>

					<%= link_to :action => 'delete', :id => project.id do %>
						<div class="btn button-default"><span class="glyphicon glyphicon-trash"> </span> Eliminar</div> 
					<% end %>

					<%= link_to :action => 'create_from_project', :id => project.id do %>
						<div class="btn button-default"><span class="glyphicon glyphicon-shopping-cart"> </span> Contractar Test Energia</div> 
					<% end %>

 
				</div>
			</div>
			<% end %>
			
			<%= link_to :action => 'new' do %>
				<div class="btn button-new"><span class="glyphicon glyphicon-plus"> </span> Crear un nou AutoTest</div> 
			<% end %>
		
  		
    </div>
  </div>
</div>