<div class="row">
  <div class="col-md-4 side-content">
    <%= link_to :action => 'index' do %>
			<div class="btn button-page-menu"><span class="glyphicon glyphicon-arrow-left"> </span> Tornar a la llista d'AutoTests</div>
		<% end %>
	</div>
</div>
<div class="row">
  <div class="col-md-12">
		<h2 class="page-title">Informe AutoTest Energia</h2>
	</div>
</div>
<div class="row">
  <div class="col-md-4 side-content">
    <p>Aquest informe no és un document legal i no té cap validesa per al compliment del Real Decret 235/2013 sobre certificació energètica d'edificis.</p>
    <p>La qualificació energètica que apareix en aquest informe és orientativa, així com també ho són les recomanacions de millora. No es tenen en compte tots els factors que condicionen el comportament energètic d'un edifici i per tant és possible que els resultats no siguin acurats.</p>
    <p>Recordeu que si voleu un informe més detallat i complet, juntament amb una certificació energètica vàlida a efectes legals, podeu contractar un Test Energia.</p>
    <%= link_to :action => 'create_from_project', :id => @project.id do %>
			<div class="btn button-page-menu"><span class="glyphicon glyphicon-shopping-cart"> </span> Contractar Test Energia</div> 
		<% end %>
    </div>
  <div class="col-md-8 principal-content">
		<h3><%= @project.name %></h3>
		<h4>Qualificació energètica</h4>
		<div class="row">
			<div class="col-md-4">
				<span class="text-tips">Més eficient</span>
				<%= image_tag("etiqueta_" + @simulation.energy_class + ".jpg", width: "200", height: "139") %>
				<span class="text-tips">Menys eficient</span>
			</div>
			<div class="col-md-7 col-md-offset-1">
				<p>La qualificació energètica del vostre habitatge és la <%= @simulation.energy_class.upcase %>. La vostra suposició era que sortiria una <%= @project.energy_class_guess.upcase %><%= @comparison %></p>
			</div>
		</div>
		
		<h4>Propostes de millora per al vostre habitatge:</h4>
		<div class="row">
			<div class="col-md-4">
				<%= image_tag(@suggestions_img[0], class: "suggestion-image", width: "180", height: "134") %>
			</div>
			<div class="col-md-7 col-md-offset-1">
				<p><%= @suggestions[0] %></p>
			</div>
		</div>
		<div class="row">
			<div class="col-md-4">
				<%= image_tag(@suggestions_img[1], class: "suggestion-image", width: "180", height: "134") %>
			</div>
			<div class="col-md-7 col-md-offset-1">
				<p><%= @suggestions[1] %></p>
			</div>
		</div>
		<div class="row">
			<div class="col-md-4">
				<%= image_tag(@suggestions_img[2], class: "suggestion-image", width: "180", height: "134") %>
			</div>
			<div class="col-md-7 col-md-offset-1">
				<p><%= @suggestions[2] %></p>
			</div>
		</div>
	
		
		
	</div>
</div>

