<div class="main-content">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h2 class="page-title">Editar edifici</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4 col-md-offset-4">

        <%= link_to("<< Tornar a la llista d'edificis", {:action => 'index'}, :class => 'back-link') %>



        <%= form_for(:building, :url => {:action => 'update', :id => @building.id}) do |f| %>

          <%= f.error_messages %>
          
          <div class="form-group"><%= f.label :name, "Nom de l'edifici" %><br />
          <%= f.text_field :name, :autofocus => true, :class => 'form-control' %></div>

          <div class="form-group"><%= f.label :area, "Superfície útil de l'edifici" %><br />
          <%= f.text_field :area, :class => 'form-control' %></div>

          <div class="form-group"><%= f.label :user_id, "Identificador d'usuari" %><br />
          <%= f.text_field :user_id, :class => 'form-control' %></div>

          <div><%= f.submit "Guardar les dades", :class => "btn btn-default" %></div>

        <% end %>
        </div>
    </div>
  </div>
</div>


