
  <div class="print-logo">
    <%= image_tag('logo_test_energia_petit.svg', :alt => 'logo', :class => 'img-responsive') %>
  </div>
  <div class="print-top-info">
    <span>www.testenergia.cat</span><br/>
    <span>info@testenergia.cat</span><br/>
    <span>Tel. 932402060</span>
  </div>
    

  <div class="print-titol">
    <h2 class="print-h2"><%= @xproject.name %></h2>
  </div>

  <div class="print-info-basica">
    <div class="print-propietari">
      <h5 class="print">Sol·licitant:</h5>
      <span><%= @xproject.user_first_name + ' ' + @xproject.user_surname1 + ' ' + @xproject.user_surname2 %></span><br/>
      <% case @xproject.user_id_document_type
      when '0'
        tipus_document = "DNI"
      when '1'
        tipus_document = "NIE"
      when '2'
        tipus_document = "Passaport"
      when '3'
        tipus_document = "NIF"
      end %>
      <span><%= tipus_document + ': ' + @xproject.user_id_document_number %></span>
    </div>
    <div class="print-adreca">
      <h5 class="print">Adreça:</h5>
      <span><%= @xproject.building_address %></span><br/>
      <span>Codi postal: <%= @xproject.building_zip_code %></span><br/>
      <span>Municipi: <%= @xproject.building_town %></span>
    </div>
    <div class="print-caracteristiques">
      <h5 class="print">Característiques:</h5>
      <% case @xproject.project_type
      when '1'
        tipus_projecte = "Habitatge dins d'un edifici"
      when '2'
        tipus_projecte = "Habitatge unifamiliar"
      when '3'
        tipus_projecte = "Edifici d'habitatges"
        end %>
      <span><%= tipus_projecte %></span><br/>
      <span>Superfície: <%= @xproject.area %> m<sup>2</sup></span><br/>
      <span>Any de construcció: <%= @xproject.construction_year %> </span>
    </div>
  </div>
</div>
  