
  <div class="print-logo">
    <%= image_tag('logo_test_energia_petit.svg', :alt => 'logo', :class => 'img-responsive') %>
  </div>
  <div class="print-top-info">
    <span>www.testenergia.cat</span><br/>
    <span>info@testenergia.cat</span><br/>
    <span>Tel. 932402060</span>
  </div>
    

  <div class="print-titol">
    <h2 class="print-h2"><%= @xproject.name %></h2>
  </div>

  <div class="print-info-basica">
    <div class="print-propietari">
      <h5 class="print">Sol·licitant:</h5>
      <span><%= @xproject.user_first_name + ' ' + @xproject.user_surname1 + ' ' + @xproject.user_surname2 %></span><br/>
      <% case @xproject.user_id_document_type
      when '0'
        tipus_document = "DNI"
      when '1'
        tipus_document = "NIE"
      when '2'
        tipus_document = "Passaport"
      when '3'
        tipus_document = "NIF"
      end %>
      <span><%= tipus_document + ': ' + @xproject.user_id_document_number %></span>
    </div>
    <div class="print-adreca">
      <h5 class="print">Adreça:</h5>
      <span><%= @xproject.building_address %></span><br/>
      <span>Codi postal: <%= @xproject.building_zip_code %></span><br/>
      <span>Municipi: <%= @xproject.building_town %></span>
    </div>
    <div class="print-caracteristiques">
      <h5 class="print">Característiques:</h5>
      <% case @xproject.project_type
      when '1'
        tipus_projecte = "Habitatge dins d'un edifici"
      when '2'
        tipus_projecte = "Habitatge unifamiliar"
      when '3'
        tipus_projecte = "Edifici d'habitatges"
        end %>
      <span><%= tipus_projecte %></span><br/>
      <span>Superfície: <%= @xproject.area %> m<sup>2</sup></span><br/>
      <span>Any de construcció: <%= @xproject.construction_year %> </span>
    </div>
  </div>

  <div class="print-apartat">
    <h4 class="print">Qualificació energètica de l'habitatge</h4>
    <div class="print-etiqueta">
      <h5 class="print">Emissions de CO<sub>2</sub></h5>
      <p class="valors-etiqueta"><%= @xproject.global_emissions %> kgCO<sub>2</sub>/m<sup>2</sup>any</p>
      <span class="text-tips">Més eficient</span><br/>
      <%= image_tag("etiqueta_" + @xproject.global_emissions_rating.downcase + ".jpg", width: "200", height: "139") %><br/>
      <span class="text-tips">Menys eficient</span>
    </div>

    <div class="print-etiqueta">
      <h5 class="print">Demanda d'energia primària</h5>
      <p class="valors-etiqueta"><%= @xproject.global_primary_energy %> kWh/m<sup>2</sup>any</p>
      <span class="text-tips">Més eficient</span><br/>
      <%= image_tag("etiqueta_" + @xproject.global_primary_energy_rating.downcase + ".jpg", width: "200", height: "139") %><br/>
      <span class="text-tips">Menys eficient</span>
    </div>
  </div>

  <div class="print-apartat">
    <h4 class="print">Potencial d'estalvi aplicant millores</h4>
    <div class="print-comparacio-energia">
      <div class="tip-consum consum-actual" style="position: absolute; top: 0px; right: 136px; text-align: right; border-right-style: solid; border-right-width: 2px; border-right-color: #333333; padding-right: 5px; height: 50px;">
        <span>Consum actual</span><br/>
        <span><%= @total_energy_consumption %> kWh/any</span>
      </div>
      <% #Posem el consum real a 480px de l'esquerra. La posició del consum de millores es busca a partir d'aquesta dada %>
      <% posicio_consum_millores = @total_energy_consumption_improvements*480/@total_energy_consumption %>
      <div class="tip-consum consum-millores" style="position: absolute; top: 70px; left: <%= posicio_consum_millores %>px; text-align: left; border-left-style: solid; border-left-width: 2px; border-left-color: #333333; padding-left: 5px; padding-top: 20px; height: 30px;">
        <span>Consum aplicant propostes de millora</span><br/>
        <span><%= @total_energy_consumption_improvements %> kWh/any</span>
      </div>
      <div class="print-barra-energia">
        <%= image_tag('barra_energia.png', :alt => 'barra energia', :class => 'img_barra_energia') %>
      </div>
    </div>
  </div>



  <div class="print-apartat container-info-tecnic">
    <div class="print-info-tecnic">
      <h5 class="print">Nom del tècnic:</h5>
      <p><%= @expert.expert_first_name + ' ' + @expert.expert_surname1 + ' ' + @expert.expert_surname2%></p>
      <h5 class="print">Titulació:</h5>
      <p><%= @expert.title %></p>
    </div>
    <div class="print-info-tecnic2">
      <h5 class="print">Correu electrònic:</h5>
      <p><%= @expert.email %></p>
      <h5 class="print">Telèfon:</h5>
      <p><%= @expert.expert_telephone %></p>
    </div>
    <div class="print-data-signatura">
      <h5 class="print">Data i signatura:</h5>

    </div>
  </div>

  <div class="pagebreak"></div>
  
  <div class="print-apartat"> 
    <h4 class="print">Eficiència energètica dels elements constructius</h4>
    
    <div class="table">
      <table class="print-table">
        <thead>
          <tr>
            <th>Element</th>
            <th>Descripció</th>
            <th>Eficiència energètica</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Façanes</td>
            <td><%= @xproject.facade_definition %></td>
            <td>
              <% @xproject.facade_score.times do %>
                <%= image_tag('font_icons/estrella.png', width: "14", height: "14")  %>
              <% end %>
            </td>
          </tr>
          <tr>
            <td>Cobertes</td>
            <td><%= @xproject.roof_definition %></td>
            <td>
              <% @xproject.roof_score.times do %>
                <%= image_tag('font_icons/estrella.png', width: "14", height: "14")  %>
              <% end %>
            </td>
          </tr>
          <tr>
            <td>Terres</td>
            <td><%= @xproject.floor_definition %></td>
            <td>
              <% @xproject.floor_score.times do %>
                <%= image_tag('font_icons/estrella.png', width: "14", height: "14")  %>
              <% end %>
            </td>
          </tr>
          <tr>
            <td>Finestres</td>
            <td><%= @xproject.windows_definition %></td>
            <td>
              <% @xproject.windows_score.times do %>
                <%= image_tag('font_icons/estrella.png', width: "14", height: "14")  %>
              <% end %>
            </td>
          </tr>
          <tr>
            <td>Aigua calenta</td>
            <td><%= @xproject.hot_water_definition %></td>
            <td>
              <% @xproject.hot_water_score.times do %>
                <%= image_tag('font_icons/estrella.png', width: "14", height: "14")  %>
              <% end %>
            </td>
          </tr>
          <tr>
            <td>Calefacció</td>
            <td><%= @xproject.heating_definition %></td>
            <td>
              <% @xproject.heating_score.times do %>
                <%= image_tag('font_icons/estrella.png', width: "14", height: "14")  %>
              <% end %>
            </td>
          </tr>
          <tr>
            <td>Refrigeració</td>
            <td><%= @xproject.cooling_definition %></td>
            <td>
              <% @xproject.cooling_score.times do %>
                <%= image_tag('font_icons/estrella.png', width: "14", height: "14")  %>
              <% end %>
            </td>
          </tr>
          <tr>
            <td>Il·luminació</td>
            <td><%= @xproject.lighting_definition %></td>
            <td>
              <% @xproject.lighting_score.times do %>
                <%= image_tag('font_icons/estrella.png', width: "14", height: "14")  %>
              <% end %>
            </td>
          </tr>
          <tr>
            <td>Electrodomèstics</td>
            <td><%= @xproject.appliances_definition %></td>
            <td>
              <% @xproject.appliances_score.times do %>
                <%= image_tag('font_icons/estrella.png', width: "14", height: "14")  %>
              <% end %>
            </td>
          </tr>
          
        </tbody>
      </table>
      <p class="print-explicacio">
        La valoració que es fa de l'eficiència energètica de cada element és la global per aquell tipus d'element. Per exemple en el cas que hi hagi diferents tipus de façanes la valoració és del conjunt, no d'un tipus de façana en concret.
      </p>
      <p class="print-explicacio">
        <%= image_tag('font_icons/estrella.png', width: "14", height: "14")  %> Dolent | <%= image_tag('font_icons/estrella.png', width: "14", height: "14")  %><%= image_tag('font_icons/estrella.png', width: "14", height: "14")  %><%= image_tag('font_icons/estrella.png', width: "14", height: "14")  %> Acceptable | <%= image_tag('font_icons/estrella.png', width: "14", height: "14")  %><%= image_tag('font_icons/estrella.png', width: "14", height: "14")  %><%= image_tag('font_icons/estrella.png', width: "14", height: "14")  %><%= image_tag('font_icons/estrella.png', width: "14", height: "14")  %><%= image_tag('font_icons/estrella.png', width: "14", height: "14")  %> Molt bo
      </p>
    </div>
  </div>

  <div class="print-apartat">
    <h4 class="print">Valoració dels consums</h4>
    <table class="print-table">
      <thead>
        <tr>
          <th class="print-table-header">Element</th>
          <th class="print-table-header">Consum d'energia</th>
          <th class="print-table-header">Emissions de CO<sub>2</sub></th>
          <th class="print-table-header">Despesa econòmica</th>
          <th class="print-table-header">Valoració respecte estàndard</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Calefacció</td>
          <td><%= @consum_calefaccio %></td>
          <td><%= @emissions_calefaccio %></td>
          <td><%= @cost_calefaccio %></td>
          <td> 
            <% case @valoracio_calefaccio %>
              <% when -2 %>
                <%= image_tag('font_icons/fletxa-verda-avall.png', width: "14", height: "14")  %><%= image_tag('font_icons/fletxa-verda-avall.png', width: "14", height: "14")  %>
              <% when -1 %>
                <%= image_tag('font_icons/fletxa-verda-avall.png', width: "14", height: "14")  %>
              <% when 0 %>
                <%= image_tag('font_icons/igual.png', width: "14", height: "14")  %>
              <% when 1 %>
                <%= image_tag('font_icons/fletxa-vermella-amunt.png', width: "14", height: "14")  %>
              <% when 2 %>
                <%= image_tag('font_icons/fletxa-vermella-amunt.png', width: "14", height: "14")  %><%= image_tag('font_icons/fletxa-vermella-amunt.png', width: "14", height: "14")  %>
            <% end %>
          </td>
        </tr>
        <tr>
          <td>Refrigeració</td>
          <td><%= @consum_refrigeracio %></td>
          <td><%= @emissions_refrigeracio %></td>
          <td><%= @cost_refrigeracio %></td>
          <td> 
            <% case @valoracio_refrigeracio %>
              <% when -2 %>
                <%= image_tag('font_icons/fletxa-verda-avall.png', width: "14", height: "14")  %><%= image_tag('font_icons/fletxa-verda-avall.png', width: "14", height: "14")  %>
              <% when -1 %>
                <%= image_tag('font_icons/fletxa-verda-avall.png', width: "14", height: "14")  %>
              <% when 0 %>
                <%= image_tag('font_icons/igual.png', width: "14", height: "14")  %>
              <% when 1 %>
                <%= image_tag('font_icons/fletxa-vermella-amunt.png', width: "14", height: "14")  %>
              <% when 2 %>
                <%= image_tag('font_icons/fletxa-vermella-amunt.png', width: "14", height: "14")  %><%= image_tag('font_icons/fletxa-vermella-amunt.png', width: "14", height: "14")  %>
            <% end %>
          </td>
        </tr>
        <tr>
          <td>ACS</td>
          <td><%= @consum_acs %></td>
          <td><%= @emissions_acs %></td>
          <td><%= @cost_acs %></td>
          <td> 
            <% case @valoracio_acs %>
              <% when -2 %>
                <%= image_tag('font_icons/fletxa-verda-avall.png', width: "14", height: "14")  %><%= image_tag('font_icons/fletxa-verda-avall.png', width: "14", height: "14")  %>
              <% when -1 %>
                <%= image_tag('font_icons/fletxa-verda-avall.png', width: "14", height: "14")  %>
              <% when 0 %>
                <%= image_tag('font_icons/igual.png', width: "14", height: "14")  %>
              <% when 1 %>
                <%= image_tag('font_icons/fletxa-vermella-amunt.png', width: "14", height: "14")  %>
              <% when 2 %>
                <%= image_tag('font_icons/fletxa-vermella-amunt.png', width: "14", height: "14")  %><%= image_tag('font_icons/fletxa-vermella-amunt.png', width: "14", height: "14")  %>
            <% end %>
          </td>
        </tr>
        <tr>
          <td>Il·luminació</td>
          <td><%= @consum_iluminacio %></td>
          <td><%= @emissions_iluminacio %></td>
          <td><%= @cost_iluminacio %></td>
          <td> 
            <% case @valoracio_iluminacio %>
              <% when -2 %>
                <%= image_tag('font_icons/fletxa-verda-avall.png', width: "14", height: "14")  %><%= image_tag('font_icons/fletxa-verda-avall.png', width: "14", height: "14")  %>
              <% when -1 %>
                <%= image_tag('font_icons/fletxa-verda-avall.png', width: "14", height: "14")  %>
              <% when 0 %>
                <%= image_tag('font_icons/igual.png', width: "14", height: "14")  %>
              <% when 1 %>
                <%= image_tag('font_icons/fletxa-vermella-amunt.png', width: "14", height: "14")  %>
              <% when 2 %>
                <%= image_tag('font_icons/fletxa-vermella-amunt.png', width: "14", height: "14")  %><%= image_tag('font_icons/fletxa-vermella-amunt.png', width: "14", height: "14")  %>
            <% end %>
          </td>
        </tr>
        <tr>
          <td>Electrodomèstics</td>
          <td><%= @consum_electrodomestics %></td>
          <td><%= @emissions_electrodomestics %></td>
          <td><%= @cost_electrodomestics %></td>
          <td> 
            <% case @valoracio_electrodomestics %>
              <% when -2 %>
                <%= image_tag('font_icons/fletxa-verda-avall.png', width: "14", height: "14")  %><%= image_tag('font_icons/fletxa-verda-avall.png', width: "14", height: "14")  %>
              <% when -1 %>
                <%= image_tag('font_icons/fletxa-verda-avall.png', width: "14", height: "14")  %>
              <% when 0 %>
                <%= image_tag('font_icons/igual.png', width: "14", height: "14")  %>
              <% when 1 %>
                <%= image_tag('font_icons/fletxa-vermella-amunt.png', width: "14", height: "14")  %>
              <% when 2 %>
                <%= image_tag('font_icons/fletxa-vermella-amunt.png', width: "14", height: "14")  %><%= image_tag('font_icons/fletxa-vermella-amunt.png', width: "14", height: "14")  %>
            <% end %>
          </td>
        </tr>
      </tbody>
    </table>
    <p class="print-llegenda">
      Aquests valors corresponen al promig estimat per un any sobre els consums reals especificats a les factures dels diferents subministraments energètics de l'edifici.
    </p>
    <p class="print-llegenda">
      <%= image_tag('font_icons/igual.png', width: "14", height: "14")  %> Consum semblant respecte al consum mitjà d'un edifici similar.
    </p>
    <p class="print-llegenda">
      <%= image_tag('font_icons/fletxa-verda-avall.png', width: "14", height: "14")  %> Consum lleugerament inferior. | <%= image_tag('font_icons/fletxa-verda-avall.png', width: "14", height: "14")  %><%= image_tag('font_icons/fletxa-verda-avall.png', width: "14", height: "14")  %> Consum considerablement inferior.
    </p>
    <p class="print-llegenda">
      <%= image_tag('font_icons/fletxa-vermella-amunt.png', width: "14", height: "14")  %> Consum lleugerament superior. | <%= image_tag('font_icons/fletxa-vermella-amunt.png', width: "14", height: "14")  %><%= image_tag('font_icons/fletxa-vermella-amunt.png', width: "14", height: "14")  %> Consum considerablement superior.
    </p>
  </div>

  <div class="pagebreak">
    <h3 class="print">Propostes de millora</h3>
  </div>
  <div>
    <h4 class="print">Resum</h4>
    <div style="position: relative;">
      <table class="print-table">
        <thead>
          <tr>
            <th class="print-header">Nom</th>
            <th>Cost</th>
            <th>Estalvi</th>
            <th>Retorn inversió</th>
            <th>CO<sub>2</sub></th>
          </tr>
        </thead>
        <tbody>
        <% @improvements.each do |improvement| %>
          
          <tr>
            <td width="300px"><%= improvement.name %></td>
            <td>
              <% improvement.cost.times do %>
                <%= image_tag('font_icons/euro.png', width: "14", height: "14")  %>
              <% end %>
            </td>
            <td>
              <% improvement.energy_savings.times do %>
                <%= image_tag('font_icons/estrella.png', width: "14", height: "14")  %>
              <% end %>
            </td>
            <td>
              <% improvement.roi.times do %>
                <%= image_tag('font_icons/rellotge.png', width: "14", height: "14")  %>
              <% end %>
            </td>
            <td>
              <% improvement.emissions_savings.times do %>
                <%= image_tag('font_icons/fulla.png', width: "14", height: "14")  %>
              <% end %>
            </td>
          </tr>

        <% end %>
        </tbody>
      </table>
      <p class="print-explicacio">
        Cost de les propostes:<br/>
        <%= image_tag('font_icons/euro.png', width: "14", height: "14")  %> Menys de 200 € | <%= image_tag('font_icons/euro.png', width: "14", height: "14")  %><%= image_tag('font_icons/euro.png', width: "14", height: "14")  %> Entre 200 € i 1.000 € | <%= image_tag('font_icons/euro.png', width: "14", height: "14")  %><%= image_tag('font_icons/euro.png', width: "14", height: "14")  %><%= image_tag('font_icons/euro.png', width: "14", height: "14")  %> Entre 1.000 i 5.000 € | <%= image_tag('font_icons/euro.png', width: "14", height: "14")  %><%= image_tag('font_icons/euro.png', width: "14", height: "14")  %><%= image_tag('font_icons/euro.png', width: "14", height: "14")  %><%= image_tag('font_icons/euro.png', width: "14", height: "14")  %> Més de 5.000 €
      </p>
      <p class="print-explicacio">
        Estalvi econòmic anual de les propostes:<br />
        <%= image_tag('font_icons/estrella.png', width: "14", height: "14")  %> Menys de 100 € | <%= image_tag('font_icons/estrella.png', width: "14", height: "14")  %><%= image_tag('font_icons/estrella.png', width: "14", height: "14")  %> Entre 100 € i 200 € | <%= image_tag('font_icons/estrella.png', width: "14", height: "14")  %><%= image_tag('font_icons/estrella.png', width: "14", height: "14")  %><%= image_tag('font_icons/estrella.png', width: "14", height: "14")  %> Entre 200 i 300 € | <%= image_tag('font_icons/estrella.png', width: "14", height: "14")  %><%= image_tag('font_icons/estrella.png', width: "14", height: "14")  %><%= image_tag('font_icons/estrella.png', width: "14", height: "14")  %><%= image_tag('font_icons/estrella.png', width: "14", height: "14")  %> Més de 300 €
      </p>
      <p class="print-explicacio">
        Temps d'amortització de les propostes:<br />
        <%= image_tag('font_icons/rellotge.png', width: "14", height: "14")  %> Menys de 5 anys | <%= image_tag('font_icons/rellotge.png', width: "14", height: "14")  %><%= image_tag('font_icons/rellotge.png', width: "14", height: "14")  %> De 5 a 10 anys | <%= image_tag('font_icons/rellotge.png', width: "14", height: "14")  %><%= image_tag('font_icons/rellotge.png', width: "14", height: "14")  %><%= image_tag('font_icons/rellotge.png', width: "14", height: "14")  %> De 10 a 15 anys | <%= image_tag('font_icons/rellotge.png', width: "14", height: "14")  %><%= image_tag('font_icons/rellotge.png', width: "14", height: "14")  %><%= image_tag('font_icons/rellotge.png', width: "14", height: "14")  %><%= image_tag('font_icons/rellotge.png', width: "14", height: "14")  %> Més de 15 anys
      </p>
      <p class="print-explicacio">
        Reducció de les emissions de CO<sub>2</sub><br />
        <%= image_tag('font_icons/fulla.png', width: "14", height: "14")  %> Menys del 10% | <%= image_tag('font_icons/fulla.png', width: "14", height: "14")  %><%= image_tag('font_icons/fulla.png', width: "14", height: "14")  %> Entre el 10% i el 30% | <%= image_tag('font_icons/fulla.png', width: "14", height: "14")  %><%= image_tag('font_icons/fulla.png', width: "14", height: "14")  %><%= image_tag('font_icons/fulla.png', width: "14", height: "14")  %> Entre el 30% i el 60% | <%= image_tag('font_icons/fulla.png', width: "14", height: "14")  %><%= image_tag('font_icons/fulla.png', width: "14", height: "14")  %><%= image_tag('font_icons/fulla.png', width: "14", height: "14")  %><%= image_tag('font_icons/fulla.png', width: "14", height: "14")  %> Més del 60%
      </p>
    </div>
  </div>


  <% @improvements.each do |improvement| %>
    <div class="print-apartat contenidor-millores">
      <h4 class="print"><%= improvement.name %></h4>
      <div class="print-dades-proposta">
        
        <h5 class="print">Cost d'execució</h5>
        <% improvement.cost.times do %>
          <%= image_tag('font_icons/euro.png', width: "14", height: "14")  %>
        <% end %>
        <br/>
        <% case improvement.cost
          when 1
            cost = "Menys de 200 €"
          when 2
            cost = "Entre 200 € i 1.000 €"
          when 3
            cost = "Entre 1.000 i 5.000 €"
          when 4
            cost = "Més de 5.000 €"
        end %>
        <p class="print-explicacio-dades"><%= cost %></p>
        <hr class="print-espaiador-dades">

        <h5 class="print">Estalvi econòmic anual</h5>
        <% improvement.energy_savings.times do %>
          <%= image_tag('font_icons/estrella.png', width: "14", height: "14")  %>
        <% end %>
        <br/>
        <% case improvement.energy_savings
          when 1
            estalvi = "Menys de 100 €"
          when 2
            estalvi = "Entre 100 € i 200 €"
          when 3
            estalvi = "Entre 200 i 300 €"
          when 4
            estalvi = "Més de 300 €"
        end %>
        <p class="print-explicacio-dades"><%= estalvi %></p>
        <hr class="print-espaiador-dades">

        <h5 class="print">Amortització</h5>
        <% improvement.roi.times do %>
          <%= image_tag('font_icons/rellotge.png', width: "14", height: "14")  %>
        <% end %>
        <br/>
        <% case improvement.roi
          when 1
            roi = "Menys de 5 anys"
          when 2
            roi = "De 5 a 10 anys"
          when 3
            roi = "De 10 a 15 anys"
          when 4
            roi = "Més de 15 anys"
        end %>
        <p class="print-explicacio-dades"><%= roi %></p>
        <hr class="print-espaiador-dades">

        <h5 class="print">Reducció emissions de CO<sub>2</sub></h5>
        <% improvement.emissions_savings.times do %>
          <%= image_tag('font_icons/fulla.png', width: "14", height: "14")  %>
        <% end %>
        <br/>
        <% case improvement.emissions_savings
          when 1
            roi = "Menys del 10%"
          when 2
            roi = "Del 10% al 30%"
          when 3
            roi = "Del 30% al 60%"
          when 4
            roi = "Més del 60%"
        end %>
        <p class="print-explicacio-dades"><%= roi %></p>
        <hr class="print-espaiador-dades">
      </div>
      <p class="print-explicacio-proposta"><%= improvement.description %></p>

    </div>
  <% end %>
